:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;

  width: 18rem;
  gap: 2.5rem;
  transition: width 0.3s ease-in-out;

  header {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 3.5rem;

    gap: 0.5rem;
    span {
      h2 {
        font-size: 1.5rem;
        font-weight: 600;
      }

      p {
        font-size: 0.75rem;
        grid-area: 2/2/3/-1;
        color: rgba(0, 0, 0, 0.6);
      }
    }
    span,
    app-icon-logo {
      opacity: 1;
      transition: opacity 1.3s ease-in-out;
    }
    button {
      transition: rotate 0.3s ease-in-out;
      margin-left: auto;
      width: 2rem;
      height: 2rem;
    }
  }

  nav {
    .nav-list {
      display: grid;
      gap: 2rem;
      li {
        a {
          display: flex;
          align-items: center;
          font-size: 1rem;
          font-weight: 600;
          line-height: 2rem;
          gap: 0.5rem;
          color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }

  footer {
    background-color: aliceblue;
    padding: 0.5rem;
    border-radius: 1rem;

    margin-top: auto;
    display: grid;
    grid-template-columns: 3rem 1fr;
    grid-template-rows: auto auto;
    column-gap: 0.5rem;

    img {
      grid-area: 1/1/-1/2;
      border-radius: 100vh;
      aspect-ratio: 1/1;
      height: auto;
      object-fit: cover;
    }
    h5 {
      font-size: 1.25rem;
    }
    p {
      font-size: 0.75rem;
    }
  }
}

:host(.hide) {
  width: 4rem;

  button {
    rotate: 45deg;
  }

  span,
  app-icon-logo,
  h5,
  p {
    display: none;
  }
  footer {
    padding: 0rem;
    grid-template-columns: 2rem;
  }
}
