<header>
  <div class="shimmer"></div>

  <div class="shimmer"></div>
</header>

<section>
  <div class="info-container border-bottom shimmer"></div>

  <div class="info-container border-bottom shimmer"></div>

  <div class="info-container shimmer"></div>

  <div class="password-streangth-skeleton shimmer border-top border-bottom"></div>

  <div class="shimmer info-container border-top border-bottom textarea-notes"></div>

  <div class="dates shimmer"></div>

  <div class="actions border-top shimmer"></div>
</section>
