:host {
  background-color: inherit;
  position: fixed;
  inset: 0;
  z-index: 10;
  transition: transform 0.3s ease-in-out;
  transform: translate(0);
  width: 100%;
  gap: 2.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  header {
    width: 100%;
    transition: all 0.3s ease-in-out;
    display: grid;
    grid-template-columns: 3rem 1fr 2.5rem;
    align-items: center;
    align-content: center;

    gap: 0.5rem;
    span {
      display: block;
      width: 100%;
      transition: all 0.3s ease-in-out;
      h2 {
        font-size: var(--font-size-28);
        font-weight: 600;
      }

      p {
        font-size: var(--font-size-12);
        grid-area: 2/2/3/-1;
        color: var(--secondary-text-color);
      }
    }
    app-icon-logo {
      width: 3rem;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
    }
    button {
      transform: rotate(45deg);
      transition: rotate 0.3s ease-in-out;
      width: 2rem;
      height: 2rem;
    }
  }

  nav {
    .nav-list {
      display: grid;
      gap: 2rem;
      li {
        a {
          display: flex;
          align-items: center;
          font-size: var(--font-size-16);
          font-weight: 600;
          line-height: 2rem;
          gap: 0.5rem;
          padding: 0.5rem;
          border-radius: var(--border-radius);
          transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
          --icon-width: 2rem;
          --icon-height: 2rem;
          --icon-fill: none;

          &:hover {
            background-color: rgba(var(--raw-accent), 0.75);
            color: var(--secondary);
            --icon-stroke: var(--secondary);
            /* --icon-fill: var(--secondary); */
          }

          &.active {
            outline: none;
            background-color: var(--accent);
            color: var(--secondary);
            --icon-stroke: var(--secondary);
            /* --icon-fill: var(--secondary); */
          }
        }
      }
    }
  }

  footer {
    margin-top: auto;
    display: flex;

    align-items: center;
    column-gap: 0.5rem;
    height: 1.875rem;
    transition: all 0.3s ease-in-out;
    width: 100%;

    img {
      grid-area: 1/1/-1/2;
      border-radius: 100vh;
      aspect-ratio: 1/1;
      height: auto;
      object-fit: cover;
    }
    button {
      height: 100%;

      &:last-of-type {
        margin-left: auto;
      }
    }
    h5 {
      font-size: var(--font-size-20);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
:host(.hide) {
  transform: translateX(-100%);
  width: 100%;
}

.mobile-open-button {
  position: fixed;
  display: block;
  width: 1rem;
  height: 1.5rem;
  background-color: var(--accent);
  top: 50%;
  left: 100%;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

@media (min-width: 48rem) {
  :host {
    height: 100%;
    width: 26rem;
    padding: 2rem;
    position: relative;
    transition: all 0.3s ease-in-out;

    header {
      height: 4rem;

      span {
        display: block;
        width: 100%;
        transition: all 0.3s ease-in-out;
      }
      button {
        /* align-self: start; */
        justify-self: center;
      }
    }
    li {
      width: 100%;
      transition: all 0.3s ease-in-out;
      display: block;
      a {
        p {
          font-size: var(--font-size-20);
        }
      }
    }
  }

  :host(.hide) {
    transform: translate(0);
    width: 4rem;
    padding: 2rem 0;
    align-items: center;

    li {
      width: 3rem;
    }
    header {
      grid-template-columns: 0 0 2rem;
      justify-content: center;
      width: 3rem;
      gap: 0;
      button {
        rotate: 45deg;
      }
      span {
        width: 0;
      }
      app-icon-logo {
        transition: width 0.3s ease-in-out;

        width: 0;
        overflow: hidden;
      }
    }
    footer {
      width: 3rem;
      padding: 0rem;
      gap: 0;
      grid-template-columns: 2rem 0;
      display: grid;
      justify-content: center;
      align-items: center;
      button {
        &:last-of-type {
          display: none;
        }
      }
    }
  }
}
