:host {
  background-color: var(--tertiary);
  position: fixed;
  inset: 0;
  z-index: 10;
  transition: transform 0.3s ease-in-out;
  transform: translate(0);
  width: 100%;
  gap: 2.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  header {
    width: 100%;
    transition: all 0.3s ease-in-out;
    display: grid;
    grid-template-columns: 3rem 1fr 2.5rem;
    align-items: center;
    align-content: center;

    gap: 0.5rem;
    span {
      display: block;
      width: 100%;
      transition: all 0.3s ease-in-out;
      h2 {
        font-size: var(--font-size-24);
        font-weight: 600;
      }
    }
    app-icon-logo {
      width: 3rem;
      transition: all 0.3s ease-in-out;
    }
    
    button {
      transition: rotate 0.3s ease-in-out;
      width: 2rem;
      height: 2rem;
      border: 1px solid var(--main-gray);
      border-radius: 100vh;
      padding: 0.2rem;
    }
  }

  nav {
    .nav-list {
      display: grid;
      gap: 2rem;
      li {
        a {
          display: flex;
          align-items: center;
          font-size: var(--font-size-16);
          font-weight: 600;
          line-height: 2rem;
          gap: 0.5rem;
          padding: 0.5rem;
          border-radius: var(--border-radius);
          transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
          --icon-width: 2rem;
          --icon-height: 2rem;
          --icon-minWidth: 2rem;
          --icon-fill: none;

          &:hover {
            background-color: rgba(var(--raw-accent), 0.75);
            color: var(--secondary);
            --icon-stroke: var(--secondary);
            /* --icon-fill: var(--secondary); */
          }

          &.active {
            outline: none;
            background-color: var(--accent);
            color: var(--secondary);
            --icon-stroke: var(--secondary);
            /* --icon-fill: var(--secondary); */
          }
        }
      }
    }
  }

  footer {
    margin-top: auto;
    display: flex;

    align-items: center;
    column-gap: 0.5rem;
    transition: all 0.3s ease-in-out;
    width: 100%;
    padding: 0.5rem 2rem 0 0.5rem;
    height: 2.5rem;

    border-top: 1px solid var(--main-gray);

    button {
      height: 100%;

      &:last-of-type {
        margin-left: auto;
      }
    }

    h5 {
      font-size: var(--font-size-20);
    }
  }
}
:host(.hide) {
  transform: translateX(-100%);
  width: 100%;
}

.mobile-open-button {
  position: fixed;
  display: block;
  width: 1rem;
  height: 1.5rem;
  background-color: var(--accent);
  top: 50%;
  left: 100%;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

@media (min-width: 48rem) {
  :host {
    width: 26rem;
    padding: 0 1rem 0.25rem 1rem;
    position: relative;
    transition: all 0.3s ease-in-out;

    header {
      padding: 0.75rem 1rem 0.25rem 1rem;
      border-bottom: 1px solid var(--main-gray);
      height: 4rem;

      button {
        justify-self: center;
      }
    }

    li {
      transition: all 0.3s ease-in-out;
      display: block;
      a {
        p {
          transition: all 0.3s ease-in-out;
          font-size: var(--font-size-20);
        }
      }
    }

    .mobile-open-button {
      display: none;
    }
  }

  :host(.hide) {
    transform: translate(0);
    width: 4rem;
    padding: 0 0 0.25rem 0;
    align-items: center;

    li {
      width: 3rem;
      a {
        &:first-child {
          min-width: 2rem !important;
        }
      }
      p {
        width: 0;
        height: 0;
        overflow: hidden;
      }
    }

    header {
      grid-template-columns: 0 0 2rem;
      justify-content: center;
      width: 3rem;
      height: 4rem;
      gap: 0;
      button {
        rotate: 45deg;
      }
      span {
        width: 0;
      }
      app-icon-logo {
        width: 0;
        overflow: hidden;
        opacity: 0;
      }
    }

    footer {
      width: 3rem;
      padding: 0.25rem;
      display: block;
      h5 {
        width: 0;
        height: 0;
        overflow: hidden;
      }
    }
  }
}
