<header>
  <app-icon-logo
    [style]="{
        fill: 'var(--accent)',
    }"
  />
  <span>
    <h2 class="truncate">Secura</h2>
  </span>

  <button (click)="onToggle()">
    <app-icon-close-open
      [style]="{
        width: '100%',
        height: '100%',
      }"
    />
  </button>
</header>

@if (sessionUser ) {
<nav>
  <ul class="nav-list">
    @for(nav_route of navRoutes;track nav_route.label ) {
    <li>
      <a [routerLink]="nav_route.route" routerLinkActive="active">
        <ng-container [ngComponentOutlet]="nav_route.icon"> </ng-container>
        <p class="truncate">
          {{ nav_route.label | titlecase }}
        </p>
      </a>
    </li>
    }
  </ul>
</nav>
}

<footer>
  <h5 class="truncate">{{ sessionUser?.username | titlecase }}</h5>
  <button (click)="onSignout()" aria-label="Sign Out">
    <app-icon-signout
      [style]="{
        height: '100%',
        width: '100%'
      }"
    />
  </button>
</footer>

<button (click)="onToggle()" class="mobile-open-button"></button>
