.dialog {
  background: var(--primary);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 20rem;

  .actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }
}
