.submit-btn {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1.5rem;
  background-color: var(--accent);
  color: var(--secondary);
  border: 2px solid var(--primary);
  font-size: 1rem;
  height: 3.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    box-shadow: 4px 4px 0px var(--primary);
    transform: translate(-2px, -2px);
  }
}

.input-box {
  width: 100%;
  height: 3.5rem;
  padding: 0.75rem 1rem;
  border: 2px solid var(--primary);
  background-color: var(--secondary);
  font-size: 1rem;
  outline: none;
  transition: all 0.3s;

  &:focus {
    box-shadow: 4px 4px 0px var(--primary);
  }
}

.button-box {
  background-color: var(--accent);
  font-weight: bold;
  padding: 0.5rem;
  width: fit-content;
  background-color: var(--accent);
  color: var(--secondary);
  border: 2px solid var(--primary);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    box-shadow: 4px 4px 0px var(--primary);
    transform: translate(-2px, -2px);
  }
}
