.submit-btn {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.75rem;
  background-color: var(--accent);
  color: var(--secondary);
  border: 2px solid var(--primary);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    box-shadow: 4px 4px 0px var(--primary);
    transform: translate(-2px, -2px);
  }
}
