:root {
  --primary: #000000;
  --secondary: rgb(240, 240, 240);
  --accent: rgb(255, 94, 91);
  --main-gray: rgb(209, 209, 209);
  --raw-accent: 255, 94, 91;
  --font-family: 'Courier New', monospace;
  --font-size-base: 1rem;
  --shadow: 8px 8px 0px var(--primary);
  --shadow-small: 4px 4px 0px var(--primary);

  --border-radius: 4px;
}
