<span [ngClass]="strengthClass">
  @switch (passwordStrength) 
  { @case ('weak') {
  <app-icon-error
    [style]="{
          width: '1rem',
        
        }"
  />
  } @case ('medium') {
  <app-icon-warn
    [style]="{
          width: '1rem',
         
        }"
  />
  } @case ('strong') {
  <app-icon-check
    [style]="{
        width: '1rem',
    }"
  />
  } @case ('veryStrong') {
  <app-icon-shield
    [style]="{
        width: '1rem',
    }"
  />
  } }
  <h3>Strength:</h3>
  <p>
    {{ passwordStrength }}
  </p>
</span>

<p class="text">Time needed to crack the password</p>
<p>{{ timeToCrack }}</p>
