:host {
  span {
    display: inline-flex;
    gap: 0.25rem;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    align-items: center;
    line-height: 1rem;
    font-size: var(--font-size-14);
    border-top: 1px solid;
    width: 100%;

    h3 {
      font-weight: bold;
    }

    &.strength-weak {
      color: var(--error-red);
      fill: var(--error-red);
    }
    &.strength-medium {
      color: var(--warn-orange);
      fill: var(--warn-orange);
    }
    &.strength-strong {
      color: var(--info-blue);
      fill: var(--info-blue);
    }
    &.strength-veryStrong {
      color: var(--success-green);
      fill: var(--success-green);
    }
  }

  .text {
    color: var(--secondary-text-color);
  }
  p {
    &:nth-of-type(2) {
      font-weight: bold;
    }
  }
}
