:host {
  font-size: 0.875rem;

  span {
    display: inline-flex;
    gap: 0.25rem;
    padding-bottom: 0.5rem;
    align-items: center;
    line-height: 1rem;
    font-size: 0.875rem;
    border-top: 1px solid;
    padding-top: 0.25rem;
    width: 100%;
    h3 {
      font-weight: bold;
    }
    &.strength-weak {
      color: red;
      fill: red;
      border-top: red;
    }
    &.strength-medium {
      color: rgb(180, 117, 0);
      fill: orange;
      svg {
        width: '1rem';
        /* aspectRatio: '1/1', */
      }
    }
    &.strength-strong {
      color: blue;
      fill: blue;
      border-top-color: blue;
    }
    &.strength-very-strong {
      color: green;
      fill: green;
    }
  }

  .text {
    color: rgba(0, 0, 0, 0.8);
  }
  p {
    &:nth-of-type(2) {
      font-weight: bold;
    }
  }
}
