:host {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 5.5rem 1fr;

  header {
    display: grid;
    div {
      display: flex;
      gap: 1rem;
      align-items: center;
      h3 {
        font-size: 1.5rem;
      }
      button {
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;

    gap: 1rem;
    justify-self: center;
    width: 100%;

    /* 
    .input,
    textarea {
      width: 100%;
      height: 100%;
      padding: 0.75rem 1rem;
      border: 2px solid var(--primary);
      background-color: var(--secondary);
      font-size: 1rem;
      outline: none;
      transition: all 0.3s;

      &:focus {
        box-shadow: 4px 4px 0px var(--primary);
      }
    } */
    textarea {
      resize: none;
      height: 8rem;
    }
    .actions {
      display: flex;
      gap: 2rem;
      margin-top: auto;
      button {
        width: 100%;
        padding: 0.75rem;
        background-color: var(--accent);
        color: var(--secondary);
        border: 2px solid var(--primary);
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          box-shadow: 4px 4px 0px var(--primary);
          transform: translate(-2px, -2px);
        }
      }
    }
    .password {
      display: grid;
      grid-template-columns: 1fr 2rem 2rem;
      gap: 0.5rem;
      padding: 0;
      padding-right: 1rem;
      align-items: center;

      input {
        outline: none;
        border: none;
        background-color: inherit;
        width: 100%;
        height: 100%;
        padding-left: 1rem;
      }
      button {
        width: 2rem;
        height: 2rem;
      }
      /* TODO: Maybe change top JS or look for a different solution */
      &:has(input:focus) {
        box-shadow: 4px 4px 0px var(--primary);
      }
    }
  }
}

@media (min-width: 768px) {
  :host {
    display: block;
    width: 100%;
    height: 100%;
    font-family: var(--font-family);
    padding: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-rows: 7rem 1fr;

    header {
      grid-template-rows: 4rem 3rem;
      align-items: center;

      button {
        width: 2rem;
        height: 2rem;
        &:first-of-type {
          border-radius: 100vw;
        }
      }

      h3 {
        font-size: 1.25rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.75);
      }
    }

    form {
      display: grid;

      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(5, 3.5rem);
      gap: 1rem;
      column-gap: 2rem;

      justify-self: center;
      width: 100%;
      .input,
      textarea {
        width: 100%;
        height: 100%;
        padding: 0.75rem 1rem;
        border: 2px solid var(--primary);
        background-color: var(--secondary);
        font-size: 1rem;
        outline: none;
        transition: all 0.3s;

        &:focus {
          box-shadow: 4px 4px 0px var(--primary);
        }
      }
      textarea {
        grid-area: 1/2/5/-1;
        resize: none;
      }
      .actions {
        grid-area: 5/1/-1/-1;
        display: flex;
        gap: 2rem;
        button {
          width: 100%;
          padding: 0.75rem;
          background-color: var(--accent);
          color: var(--secondary);
          border: 2px solid var(--primary);
          font-size: 1rem;
          font-weight: bold;
          cursor: pointer;
          transition: all 0.3s;

          &:hover {
            box-shadow: 4px 4px 0px var(--primary);
            transform: translate(-2px, -2px);
          }
        }
      }
      .password {
        display: grid;
        grid-template-columns: 1fr 2rem 2rem;
        gap: 0.5rem;
        padding: 0;
        padding-right: 1rem;
        align-items: center;

        input {
          outline: none;
          border: none;
          background-color: inherit;
          width: 100%;
          height: 100%;
          padding-left: 1rem;
        }
        button {
          width: 2rem;
          height: 2rem;
        }
        /* TODO: Maybe change top JS or look for a different solution */
        &:has(input:focus) {
          box-shadow: 4px 4px 0px var(--primary);
        }
      }
    }
  }
}
