:host {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr;

  form {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    gap: 1rem;
    justify-self: center;
    width: 100%;

    textarea {
      resize: none;
      height: 8rem;
    }

    .actions {
      display: flex;
      gap: 2rem;
      margin-top: auto;
    }

    /* Custom input */
    .password {
      display: grid;
      grid-template-columns: 1fr 2rem 2rem;
      gap: 0.5rem;
      padding: 0;
      padding-right: 1rem;
      align-items: center;

      input {
        outline: none;
        border: none;
        background-color: inherit;
        color: inherit;
        width: 100%;
        height: 100%;
        padding-left: 1rem;
      }

      button {
        width: 2rem;
        height: 2rem;
      }
      /* TODO: Maybe change to JS or look for a different solution */
      &:has(input:focus) {
        box-shadow: var(--shadow-small);
      }
    }
  }
}

@media (min-width: 1024px) {
  :host {
    form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, 3.5rem) 1fr;
      gap: 1.5rem;
      column-gap: 2rem;
      justify-self: center;
      padding-top: 2.5rem;

      textarea {
        height: 100%;
        grid-area: 1/2/5/-1;
      }
      .actions {
        grid-area: 5/1/-1/-1;
        gap: 2rem;
      }
    }
  }
}
