:host {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  z-index: var(--z-index-password-entries-safety-dialog);

  header {
    background-color: var(--tertiary);
    padding: 1rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .heading {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h3 {
        font-size: var(--font-size-20);
      }

      button {
        width: 2rem;
        height: 2rem;
        border: 1px solid var(--main-gray);
        border-radius: 100vh;
        padding: 0.2rem;
      }
    }

    .score {
      background-color: var(--accent);
      border-radius: 100vh;
      border: 2px solid var(--tertiary);
      aspect-ratio: 1/1;
      width: 12rem;
      box-shadow: 0px 0px 0px 0.25rem var(--accent);
      display: flex;
      gap: 1rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h4 {
        font-weight: 400;
      }
      p {
        font-weight: 700;
        &:first-of-type {
          font-size: var(--font-size-28);
        }
      }
    }

    .overview {
      height: 100%;
      display: flex;
      flex-direction: column;
      h4 {
        font-size: var(--font-size-18);
        font-weight: 400;
      }
      ul {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
        width: 100%;
        border-top: 1px solid var(--main-gray);
        li {
          min-width: 100%;
          display: flex;
          position: relative;
          flex-direction: column;
          align-items: center;
          background-color: var(--tag);
          gap: 1rem;
          padding: 0.5rem 1rem 2rem 1rem;
          font-weight: 700;
          &:after {
            content: '';
            background-color: inherit;
            position: absolute;
            height: 3rem;
            width: 100%;
            bottom: -1rem;
            clip-path: polygon(0 0, 100% 0%, 100% 75%, 50% 100%, 0 75%);
          }
          p {
            border: 2px solid var(--main-gray);
            aspect-ratio: 1/1;
            min-width: 2rem;
            border-radius: 100vh;
            font-size: var(--font-size-18);
          }
          h5 {
            font-size: var(--font-size-14);
          }
        }
      }
    }
  }

  .table-header {
    display: none;
  }

  .table {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    border-top: 1px solid var(--main-gray);

    li {
      padding: 0.5rem;
      display: grid;
      background-color: var(--accent);
      border-radius: var(--border-radius);
      box-shadow: var(--shadow-small);
      gap: 0.5rem;

      h6,
      p {
        font-size: var(--font-size-18);
      }

      span {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    app-external-link {
      width: 1.5rem;
      aspect-ratio: 1/1;
      margin-left: auto;
    }
  }
}

@container (min-width: 768px) {
  :host {
    padding: 0;
    header {
      padding: 0;
      margin-bottom: 1rem;
      display: grid;
      grid-template-rows: 4rem 1fr;
      grid-template-columns: auto auto;
      justify-items: center;
      .heading {
        border-bottom: 1px solid var(--main-gray);
        padding: 1rem 1rem 0.5rem 1rem;
        height: 100%;
        grid-column: 1/-1;
      }
      .score {
        margin-block: 1rem;
      }

      .overview {
        height: fit-content;
        align-self: end;
        gap: 1rem;
        ul {
          li {
            padding: 1rem;
            &:after {
              bottom: -2rem;
            }
          }
        }
      }
    }
  }
}
