<header>
  <h3>Password Safety Dashboard</h3>
  <div>
    <h4>Score</h4>
    <p>50</p>
    <p>Not Very Strong</p>
  </div>
  <div>
    <h4>Password Overview</h4>
    <ul>
      @for(option of passwordSaftyDashboard$ |async;track option.label){
      <li>{{ option.label }}: {{ option.value }}</li>
      }
    </ul>
  </div>
  <button (click)="cancel()" class="">Close</button>
</header>

<div>
  <ul class="table-header">
    <li>Website URL</li>
    <li>Password</li>
    <li>Password Strength</li>
    <li>Last Changed</li>
    <li>Duplicated</li>
  </ul>
  <ul>
    @for( passwordSafety of evalutedPasswordsSafety; track passwordSafety.passwordEntry.id ){
    <li>
      <div>
        <p>
          {{ passwordSafety.passwordEntry.websiteUrl }}
        </p>
        <p>
          {{ passwordSafety.passwordEntry.entryUserName }}
        </p>
      </div>
      <app-show-password
        [iv]="passwordSafety.passwordEntry.iv"
        [encryptedPassword]="passwordSafety.passwordEntry.encryptedPassword"
      >
      </app-show-password>
      <span>
        {{ passwordSafety.strength }}
      </span>
      <span>
        {{ passwordSafety.lastChange | timeAgoPipe }}
      </span>
      <span>
        {{ passwordSafety.duplicated }}
      </span>
    </li>
    }
  </ul>
</div>
