<header>
  <div class="heading">
    <h3>Password Safety Dashboard</h3>
    <button (click)="cancel()" class=""><app-icon-close-open /></button>
  </div>

  <div class="score">
    <h4>Score</h4>
    <p>{{ score$ | async }}</p>
    <p>{{ getScoreValueText() }}</p>
  </div>

  <div class="overview">
    <h4>Password Overview</h4>
    <ul>
      @for(option of passwordSaftyDashboard$ |async;track option.label){
      <li>
        <p class="flex-center">{{ option.value }}</p>
        <h5>{{ option.label }}</h5>
      </li>
      }
    </ul>
  </div>
</header>

<div>
  <ul class="table-header">
    <li>Website URL</li>
    <li>Password</li>
    <li>Password Strength</li>
    <li>Last Changed</li>
    <li>Duplicated</li>
  </ul>

  <ul class="table">
    @for( passwordSafety of evaluatedPasswords$ | async; track passwordSafety.passwordEntry.id ){
    <li class="">
      <span class="website-url">
        <h6>Website URL:</h6>
        <p class="truncate">
          {{ passwordSafety.passwordEntry.websiteUrl }}
        </p>
        @if(passwordSafety.passwordEntry.websiteUrl){

        <app-external-link [link]="passwordSafety.passwordEntry.websiteUrl" />
        }
      </span>
      <span class="entry-username">
        <h6>Username:</h6>
        <p class="truncate">
          {{ passwordSafety.passwordEntry.entryUserName }}
        </p>
      </span>

      <span class="strength">
        <h6>Password Strength:</h6>
        <p [ngClass]="getStrengthClass(passwordSafety.strength)">
          {{ passwordSafety.strength | extendedTitleCasePipe }}
        </p>
      </span>
      <span class="last-changed">
        <h6>Last Changed:</h6>
        <p [ngClass]="getStrengthClass(passwordSafety.lastChangeStrength)">
          {{ passwordSafety.lastChange | timeAgoPipe }}
        </p>
      </span>
      <span class="duplicated">
        <h6>Duplications:</h6>
        <p>
          {{ passwordSafety.duplicated }}
        </p>
      </span>
      <app-show-password
        [iv]="passwordSafety.passwordEntry.iv"
        [encryptedPassword]="passwordSafety.passwordEntry.encryptedPassword"
      >
      </app-show-password>
      <nav>
        <button
          class="hover-active-small button-base button-normal"
          (click)="onNavigate('edit', passwordSafety.passwordEntry.id)"
        >
          Edit
        </button>
        <button
          class="hover-active-small button-base button-normal"
          (click)="onNavigate('details', passwordSafety.passwordEntry.id)"
        >
          Details
        </button>
      </nav>
    </li>
    }
  </ul>
</div>
