:host {
  form {
    padding-inline: 1rem;
    padding-bottom: 1rem;
    display: grid;
    gap: 2rem;

    .number-inputs-list {
      display: grid;
      gap: 0.5rem;
      label {
        display: flex;
        align-items: center;
      }
    }
    .radio-btns-list {
      display: grid;
      gap: 1rem;
      li {
        height: fit-content;
        ul {
          border: 2px solid var(--secondary);
          display: flex;
          flex-direction: column;
          gap: 1rem;
          padding: 1rem;
          li {
            input {
              display: none;
            }
            label {
              height: 5.5rem;
              display: block;
              padding: 0.5rem;
              text-align: center;
              box-shadow: var(--shadow-small);
              transition: box-shadow 0.3s ease, background-color 0.3s ease;
              position: relative;
              background-color: var(--tertiary);
              cursor: pointer;
            }
            input[type='radio']:checked + label {
              box-shadow: var(--shadow);
              background-color: var(--accent);
            }
            h4 {
              font-weight: 600;
            }
          }
        }
      }
    }

    .actions {
      display: flex;
      gap: 1rem;
    }
  }
}
