:host {
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--primary);

  form {
    padding-inline: 1rem;
    padding-bottom: 1rem;
    display: grid;
    gap: 2rem;

    .number-inputs-list {
      display: grid;
      gap: 0.5rem;
      label {
        display: flex;
        align-items: center;
      }
    }
    .radio-btns-list {
      display: grid;
      gap: 1rem;
      li {
        height: fit-content;
        ul {
          border: 2px solid var(--secondary);
          display: flex;
          flex-direction: column;
          gap: 1rem;
          padding: 1rem;
          height: 100%;
          li {
            height: 100%;
            input {
              display: none;
            }
            label {
              display: block;
              padding: 0.5rem;
              text-align: center;
              box-shadow: var(--shadow-small);
              position: relative;
              background-color: var(--tertiary);
            }
            input[type='radio']:checked + label {
              box-shadow: var(--shadow);
              background-color: var(--accent);
            }
            h4 {
              font-weight: 600;
            }
          }
        }
      }
    }

    .actions {
      display: flex;
      gap: 1rem;
    }
  }
}
