:host {
  grid-template-columns: 1fr;
  padding: 1rem;
  row-gap: 1rem;
  background-color: var(--tertiary);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  display: grid;

  .divider {
    display: none;
  }

  div {
    &:first-of-type {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    span {
      display: grid;
      h3 {
        font-size: var(--font-size-16);
        font-weight: bold;
      }
      p {
        font-size: var(--font-size-12);
        font-weight: bold;
      }
    }

    &:last-of-type {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
    &:first-of-type,
    &:last-of-type {
      place-self: center;
    }
  }
}

@media (min-width: 910px) {
  :host {
    min-height: 5.5rem;
    align-items: center;
    align-content: center;
    grid-template-columns: 1fr auto 1fr;
    margin-inline: var(--margin-inline);

    div {
      &:first-of-type {
        place-self: start;
      }

      &:last-of-type {
        place-self: end;
      }
      span {
        display: flex;
        flex-direction: column;
        h3 {
          font-weight: bold;
        }
        p {
          font-weight: 400;
        }
      }
    }

    .divider {
      width: 1px;
      height: 100%;
      display: block;
      background-color: var(--secondary);
      margin-inline: 1rem;
    }
  }
}

@media (min-width: 1186px) {
  :host {
    padding: 1rem 3rem;
    div {
      span {
        h3 {
          font-size: var(--font-size-18);
          font-weight: bold;
        }
        p {
          font-size: var(--font-size-16);
          font-weight: 400;
        }
      }
    }
  }
}
