<div>
  <app-icon-safety
    [style]="{
      width: '2.5rem',
      minWidth: '2.5rem',
      height: '2.5rem',
      fill: 'var(--accent)'
    }"
  />

  <span>
    <h3>Safety Dashboard</h3>
    <p>Safety Dashboard helps you identify problems.</p>
  </span>
</div>

<span class="divider"></span>

<div>
  @if (((numberOfAttentionPasswords$ | async) ?? 0) > 0) {
  <span>
    <h3>{{ (numberOfAttentionPasswords$ | async) ?? 0 }} login were found</h3>
    <p>that require your attention</p>
  </span>
  } @else if (((numberOfAttentionPasswords$ | async) ?? 0) === 0) {
  <span>
    <h3>No issues found</h3>
    <p>All your passwords are safe</p>
  </span>
  } @else{
  <span>
    <h3>No data</h3>
    <p>"Review now" to evaluate your passwords safety</p>
  </span>
  }
  <button
    class="hover-active-small button-base button-normal"
    (click)="onEvaluatePasswordsSafety()"
  >
    Review now
  </button>
</div>
