<button
  class="dialog-trigger"
  [ngClass]="config.buttonConfig.class"
  [ngStyle]="config.buttonConfig.style"
  (click)="openDialog()"
  type="button"
>
  @if (config.buttonConfig.icon) {
    <ng-container *ngComponentOutlet="config.buttonConfig.icon"></ng-container>
  }
  @if (config.buttonConfig.text) {
    <span>{{ config.buttonConfig.text }}</span>
  }
</button>

<dialog appDialog (dialogClosed)="handleDialogClosed()">
  <div class="dialog-header">
    <button
      class="dialog-close"
      (click)="closeDialog()"
      type="button"
      aria-label="Close dialog"
    >
      ✕
    </button>
  </div>
  <div class="dialog-body">
    <ng-container #dialogContent></ng-container>
  </div>
</dialog>
