<li>
  <button (click)="onLike()" class="favorite-icon">
    <app-icon-favorite
      [style]="{
      width: '1.5rem',
      height: '1.5rem',
    }"
    />
  </button>

  <span class="entry-name truncate">{{ entry.entryName }}</span>
  <span class="website-url truncate">{{ entry.websiteUrl }}</span>
  <span class="entry-username truncate">{{ entry.entryUserName }}</span>

  <span class="password">
    {{ password$ | async }}

    <button (click)="onShowPassword()" type="button">
      <app-icon-eye
        [style]="{
        width: '2rem',
        height: '2rem',
        stroke: 'var(--accent)',
        fill: 'none',
      }"
      />
    </button>
    <app-icon-copy-password
      [style]="{
        width: '2rem',
        height: '2rem',
        stroke: 'none',
        fill: 'var(--accent)',
    }"
    />
  </span>
  <button class="password-mobile">
    <app-icon-copy-password
      [style]="{
      width: '1.5rem',
      height: '1.5rem',
      stroke: 'none',
      fill: 'var(--accent)',
    }"
    />
  </button>

  <app-password-entry-preview-actions [entryId]="entry.id!" />
</li>
