<tr>
  <td></td>
  <td>{{ entry.entryName }}</td>
  <td>{{ entry.websiteUrl }}</td>
  <td>{{ entry.entryUserName }}</td>
  <td class="password">
    {{ password$ | async }}

    <button (click)="onShowPassword()">
      <app-icon-eye
        [style]="{
        width: '2rem',
        height: '2rem',
        stroke: 'black',
        fill: 'none',
      }"
      />
    </button>
  </td>
  <td class="actions">
    <button class="delete-btn">
      <app-icon-trash
        [style]="{
          width: '2rem',
          height: '2rem',
          stroke: 'var(--secondary)',
          fill: 'none',
                }"
      />
    </button>
    <a class="button-box" routerLink="edit/{{ entry.id }}">Edit </a>
    <a class="button-box" routerLink="details/{{ entry.id }}">Details </a>
  </td>
</tr>
