li {
  display: grid;
  grid-template-columns: 1.5rem 1fr 1.5rem 1.5rem;
  grid-template-rows: 1fr 1fr 1px;
  text-align: left;
  padding: 1rem;
  gap: 0rem 1rem;
  align-items: center;
  border-radius: var(--border-radius);

  background-color: var(--tertiary);
  /* Not sure if to have a border on the bottom or a diffrent background color to sparate bwteen list items  */
  /* &::after {
    content: '';
    width: calc(100% - 2rem);
    border-bottom: 1px solid var(--secondary);
    grid-area: 3/1/-1/-1;
    justify-self: end;
  } */

  .favorite-icon {
    --icon-stroke: var(--accent);
    --icon-fill: none;
    grid-area: 1/1/3/2;
  }
  .entry-name {
    grid-area: 1/2/2/3;
    font-weight: 900;
  }
  .website-url {
    display: none;
  }
  .entry-username {
    grid-area: 2/2/3/3;
  }
  .password {
    display: none;
  }
  .password-mobile {
    grid-area: 1/3/3/4;
  }
  .actions-mobile-button {
    grid-area: 1/4/3/-1;
  }

  .actions {
    display: none;
  }

  .liked {
    --icon-fill: var(--accent);
  }
}

@media (min-width: 768px) {
  li {
    width: 100%;
    height: 100%;
    grid-template-columns: 2rem 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.5rem;
    align-items: center;
    padding: 0 1rem;
    /* border-bottom: 2px solid var(--main-gray); */
    font-size: var(--font-size-16);

    &::after {
      display: none;
    }

    .favorite-icon {
      grid-area: 1/1/-1/2;
    }
    .entry-name {
      grid-area: 1/2/-1/3;
      font-weight: 900;
    }

    .entry-username {
      grid-area: 1/3/-1/4;
    }

    .website-url {
      display: block;
    }

    .password {
      display: flex;
      align-items: center;
      justify-items: center;
      gap: 0.5rem;
    }

    .actions {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      justify-content: end;
      .delete-btn {
        background-color: var(--accent);
        height: 2.75rem;
        width: 2rem;
        background-color: var(--accent);
        border: 2px solid var(--primary);
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          box-shadow: 4px 4px 0px var(--primary);
          transform: translate(-2px, -2px);
        }
      }
    }
    .password-mobile {
      display: none;
    }
    .actions-mobile-button {
      display: none;
    }
  }
}
