tr {
  display: grid;
  grid-template-columns: 1.5rem 1fr 1.5fr 1fr 1fr 1fr;
  text-align: left;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 2px solid var(--primary);
  width: 100%;
  .actions {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  .password{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 0.5rem;
  }
  .delete-btn {
    background-color: var(--accent);
    height: 2.75rem;
    width: 2rem;
    background-color: var(--accent);
    border: 2px solid var(--primary);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      box-shadow: 4px 4px 0px var(--primary);
      transform: translate(-2px, -2px);
    }
  }
}
