<li>
  <span class="favorite-icon">
    <app-icon-favorite
      [style]="{
      width: '1.5rem',
      height: '1.5rem',
      stroke: 'var(--primary)',
      fill: 'none',
    }"
    />
  </span>

  <span class="entry-name truncate">{{ entry.entryName }}</span>
  <span class="website-url truncate">{{ entry.websiteUrl }}</span>
  <span class="entry-username truncate">{{ entry.entryUserName }}</span>
  <span class="password">
    {{ password$ | async }}

    <button (click)="onShowPassword()">
      <app-icon-eye
        [style]="{
        width: '2rem',
        height: '2rem',
        stroke: 'black',
        fill: 'none',
      }"
      />
    </button>
  </span>
  <button class="password-mobile">
    <app-icon-copy-password
      [style]="{
      width: '1.5rem',
      height: '1.5rem',
      stroke: 'none',
      fill: 'var(--accent)',
    }"
    />
  </button>
  <button class="actions-mobile-button">
    <app-icon-dots
      [style]="{
      width: '1.5rem',
      height: '1.5rem',
      stroke: 'none',
      fill: 'var(--accent)',
    }"
    />
  </button>
  <div class="actions">
    <button class="delete-btn">
      <app-icon-trash
        [style]="{
          width: '2rem',
          height: '2rem',
          stroke: 'var(--secondary)',
          fill: 'none',
                }"
      />
    </button>
    <a class="button-box" routerLink="edit/{{ entry.id }}">Edit </a>
    <a class="button-box" routerLink="details/{{ entry.id }}">Details </a>
  </div>
</li>
