:host {
  height: 100vh;
  display: grid;
  grid-template-rows: 4rem 1fr;

  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    .info-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        h3 {
          font-size: var(--font-size-14);
          color: var(--secondary-text-color);
        }
      }

      .password-actions {
        display: flex;
        height: 100%;
        align-items: center;
        gap: 1rem;
      }
    }

    .textarea-notes {
      height: 8rem;
      align-items: start;
    }

    .dates {
      display: flex;
      gap: 2rem;
      box-shadow: 0 0 0 16px var(--tertiary);
      margin-block: 1rem;
      background-color: var(--tertiary);
      h3,
      p {
        font-size: var(--font-size-14);
        font-weight: 400;
      }
    }

    .actions {
      margin-top: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4rem;

      button {
        width: 2rem;
        --icon-fill: transparent;
        --icon-stroke: var(--main-text-color);
        
      }
    }
  }
}

@media (min-width: 768px) {
  :host {
    .border-bottom,
    .border-top {
      border-color: var(--main-gray);
    }

    .actions {
      button,
      a {
        transition: transform 0.5s ease-in-out;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

.border-bottom {
  border-bottom: 1px solid var(--secondary);
  padding-bottom: 1rem;
}
.border-top {
  border-top: 1px solid var(--secondary);
  padding-top: 1rem;
}
.liked {
  --icon-fill: var(--accent) !important;
  --icon-stroke: var(--accent) !important;
}
