:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  height: 100%;

  header {
    display: flex;
    gap: 1rem;
    align-items: center;
    border-bottom: 1px solid var(--secondary);
    padding-bottom: 1rem;
    a {
      margin-left: auto;
    }
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    span {
      h3 {
        font-size: var(--font-size-14);
        color: var(--secondary-text-color);
      }
      p {
        grid-area: 2/1/-1/2;
      }
    }
    .password-actions {
      display: flex;
      height: 100%;
      align-items: center;
      gap: 1rem;
    }
  }

  .border-bottom {
    border-bottom: 1px solid var(--secondary);
    padding-bottom: 1rem;
  }
  .border-top {
    border-top: 1px solid var(--secondary);
    padding-top: 1rem;
  }

  .dates {
    display: flex;
    gap: 2rem;
    box-shadow: 0 0 0 16px var(--tertiary);
    margin-block: 1rem;
    background-color: var(--tertiary);
    h3,
    p {
      font-size: var(--font-size-14);
      font-weight: 400;
    }
  }

  .actions {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    border-top: 1px solid var(--main-gray);
    padding-top: 1rem;
    button {
      width: 2rem;
    }
  }
}

@media (min-width: 768px) {
  :host {
    padding: 2rem;

    header {
      align-items: center;
      padding-bottom: 0;
      height: 4rem;

      h2 {
        font-size: 1.75rem;
      }
    }

    .box {
      span {
        h3 {
          font-size: 1.25rem;
          color: gray;
        }
        p {
          grid-area: 2/1/-1/2;
        }
      }
      .password-actions {
        display: flex;
        height: 100%;
        align-items: center;
        gap: 1rem;
      }
    }

    .border-bottom,
    .border-top {
      border-color: var(--main-gray);
    }

    .actions {
      button {
        display: flex;
        justify-items: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        transition: all 0.3s;
        background-color: inherit;
        &:hover {
          box-shadow: 2px 2px 2px var(--primary);
          transform: translate(-1px, -1px);
        }
      }
    }
    .toast {
      position: fixed;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--primary);
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
    }
  }
}
