:host {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: var(--font-family);
  position: relative;
  height: 100%;

  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 3rem;

    div {
      &:first-of-type {
        h2 {
          font-size: 1.5rem;
          line-height: 1.75rem;
        }
        span {
          display: inline-flex;
          gap: 0.5rem;
          color: rgba(0, 0, 0, 0.8);
          font-size: 1rem;
        }
      }
      &:last-of-type {
        position: relative;
        width: 100%;
        padding: 0.75rem 1rem;
        border: 2px solid var(--primary);
        background-color: var(--secondary);
        transition: all 0.3s;
        display: inline-flex;
        input {
          font-size: 1rem;
          outline: none;
          background-color: inherit;
          border: none;
        }
        &:has(input:focus) {
          box-shadow: 4px 4px 0px var(--primary);
        }
      }
    }
  }

  .safety {
    background-color: var(--secondary);
    box-shadow: var(--shadow);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 1rem 3rem;

    div {
      &:first-of-type {
        place-self: end;

        display: flex;
        align-items: center;
        gap: 0.5rem;
        span {
          display: grid;
          color: rgba(0, 0, 0, 0.8);
          font-size: 1rem;
          h3 {
            font-size: 1rem;
            font-weight: bold;
          }
          p {
            font-size: 0.75rem;
            font-weight: bold;
          }
        }
      }

      &:last-of-type {
        place-self: start;
        display: flex;
        align-items: center;
        gap: 2rem;
        span {
          p {
            &:first-of-type {
              font-size: 1rem;
              font-weight: bold;
            }

            &:last-of-type {
              font-size: 0.75rem;
              color: rgba(0, 0, 0, 0.8);
            }
          }
        }
        button {
          background-color: var(--accent);
          font-weight: bold;
          padding: 0.5rem;
          width: fit-content;
          background-color: var(--accent);
          color: var(--secondary);
          border: 2px solid var(--primary);
          font-size: 1rem;
          font-weight: bold;
          cursor: pointer;
          transition: all 0.3s;

          &:hover {
            box-shadow: 4px 4px 0px var(--primary);
            transform: translate(-2px, -2px);
          }
        }
      }
    }
    .divider {
      width: 1px;
      height: 100%;
      display: block;
      background-color: rgba(0, 0, 0, 0.2);
      margin-inline: 4rem;
    }
  }

  table {
    thead {
      tr {
        display: grid;
        grid-template-columns: 1.5rem 1fr 1.5fr 1fr 1fr 1fr;
        text-align: left;
        gap: 0.5rem;
      }
    }
    tbody {
      tr {
        display: grid;
        grid-template-columns: 1.5rem 1fr 1.5fr 1fr 1fr 1fr;
        text-align: left;
        gap: 0.5rem;
        align-items: center;
        padding: 0.5rem 0;
        border-bottom: 2px solid var(--primary);
      }
    }
  }

  .add-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--accent);
    border-radius: 100vw;
    border: 2px solid black;
  }
}
