:host {
  padding: 1rem;
  display: grid;
  grid-template-rows: 2rem 9.25rem 10rem calc(100% - 21.25rem);
  flex-direction: column;
  position: relative;
  height: 100svh;

  header {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 1rem 0;
    div {
      &:first-of-type {
        display: grid;
        gap: 0.5rem;
        h2 {
          font-size: 1.5rem;
          line-height: 1.75rem;
        }
        span {
          display: inline-flex;
          align-items: center;
          gap: 0.5rem;
          color: rgba(0, 0, 0, 0.8);
          font-size: 1rem;
        }
      }
    }
    form {
      position: relative;
      width: 100%;
      padding: 0.75rem 1rem;
      border: 2px solid var(--primary);
      background-color: var(--secondary);
      transition: all 0.3s;
      display: inline-flex;
      height: 3.5rem;
      align-items: center;
      border-radius: var(--border-radius);
      input {
        width: 100%;
        font-size: 1rem;
        outline: none;
        background-color: inherit;
        border: none;
      }
      &:has(input:focus) {
        box-shadow: 4px 4px 0px var(--primary);
      }
    }
  }

  .safety {
    grid-template-columns: 1fr;
    padding: 1rem;
    row-gap: 1rem;
    background-color: var(--secondary);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    display: grid;

    .divider {
      display: none;
    }

    div {
      &:first-of-type {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      span {
        display: grid;
        color: rgba(0, 0, 0, 0.8);
        font-size: 1rem;
        h3 {
          font-size: 1rem;
          font-weight: bold;
        }
        p {
          font-size: 0.75rem;
          font-weight: bold;
        }
      }

      &:last-of-type {
        display: flex;
        align-items: center;
        gap: 2rem;

        button {
          background-color: var(--accent);
          font-weight: bold;
          padding: 0.5rem;
          width: fit-content;
          background-color: var(--accent);
          color: var(--secondary);
          border: 2px solid var(--primary);
          font-size: 1rem;
          font-weight: bold;
          cursor: pointer;
          transition: all 0.3s;

          &:hover {
            box-shadow: 4px 4px 0px var(--primary);
            transform: translate(-2px, -2px);
          }
        }
      }
      &:first-of-type,
      &:last-of-type {
        place-self: center;
      }
    }
  }

  .add-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: var(--accent);
    border-radius: 100vw;
    border: 2px solid black;
  }
}

@media (min-width: 768px) {
  :host {
    padding: 2rem 2rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;

    header {
      grid-template-columns: 1fr 1fr;
      padding: 1rem;
    }

    .safety {
      grid-template-columns: 1fr auto 1fr;
      padding: 1rem 3rem;

      div {
        &:first-of-type {
          place-self: start;
        }

        &:last-of-type {
          place-self: end;
        }
        span {
          display: grid;
          color: rgba(0, 0, 0, 0.8);
          font-size: 1rem;
          h3 {
            font-size: 1.25rem;
            font-weight: bold;
          }
          p {
            font-size: 1rem;
            font-weight: 400;
          }
        }
      }
      .divider {
        width: 1px;
        height: 100%;
        display: block;
        background-color: rgba(0, 0, 0, 0.2);
        margin-inline: 1rem;
      }
    }

    .add-btn {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      height: 3.5rem;
      background-color: var(--accent);
      border-radius: 100vw;
      border: 2px solid black;
    }
  }
}
