:host {
  display: grid;
  grid-template-rows: 4rem calc(100% - 4rem);
  position: relative;
  height: 100vh;
  
  section {
    padding: 1rem 1rem 4rem 1rem;
    display: grid;
    gap:1rem;
    grid-template-rows: 7rem auto 1fr;
    position: relative;
    overflow-y: auto;

    header {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;

      span {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
      }

      form {
        height: 100%;
        position: relative;
        padding: 0.75rem 1rem;
        border: 2px solid var(--secondary);
        border-radius: var(--border-radius);
        background-color: var(--tertiary);
        transition: all 0.3s;
        display: inline-flex;
        align-items: center;
        width: 100%;
        input {
          width: 100%;
          height: 100%;
          outline: none;
          background-color: transparent;
          border: none;
        }
        &:has(input:focus) {
          box-shadow: var(--shadow-small);
        }
      }

      .add-btn {
        position: fixed;
        bottom: 1rem;
        left: calc(100% - 4rem);
        width: 3rem;
        height: 3rem;
        z-index: 1;
        background-color: var(--accent);
        border-radius: 100vw;
        border: 2px solid var(--secondary);
        --icon-stroke: var(--secondary);
        --icon-fill: var(--secondary);
      }
    }

    .safety {
      grid-template-columns: 1fr;
      padding: 1rem;
      row-gap: 1rem;
      background-color: var(--tertiary);
      box-shadow: var(--shadow);
      border-radius: var(--border-radius);
      display: grid;

      .divider {
        display: none;
      }

      div {
        &:first-of-type {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
        span {
          display: grid;
          h3 {
            font-size: var(--font-size-16);
            font-weight: bold;
          }
          p {
            font-size: var(--font-size-12);
            font-weight: bold;
          }
        }

        &:last-of-type {
          display: flex;
          align-items: center;
          gap: 2rem;
        }
        &:first-of-type,
        &:last-of-type {
          place-self: center;
        }
      }
    }
  }
}

@media (min-width: 910px) {
  :host {
    section {
      padding: 0.5rem 0 0 0;
      gap: 2rem;
      display: grid;
      grid-template-rows: 5.75rem 5.5rem 1fr;
      --margin-inline: 1rem;

      header {
        gap: 0.25rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        margin-inline: var(--margin-inline);
        span{
          grid-column: 1/-1;
        }
        .add-btn {
          position: relative;
          bottom: 0;
        }
      }

      .safety {
        min-height: 5.5rem;
        align-items: center;
        align-content: center;
        grid-template-columns: 1fr auto 1fr;
        margin-inline: var(--margin-inline);

        div {
          &:first-of-type {
            place-self: start;
          }

          &:last-of-type {
            place-self: end;
          }
          span {
            display: flex;
            flex-direction: column;
            h3 {
              font-weight: bold;
            }
            p {
              font-weight: 400;
            }
          }
        }

        .divider {
          width: 1px;
          height: 100%;
          display: block;
          background-color: var(--secondary);
          margin-inline: 1rem;
        }
      }
    }
  }
}

@media (min-width: 1186px) {
  :host {
    section {
      .safety {
        padding: 1rem 3rem;
        div {
          span {
            h3 {
              font-size: var(--font-size-18);
              font-weight: bold;
            }
            p {
              font-size: var(--font-size-16);
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
