:host {
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;
  height: 100%;
  section {
    padding: 1rem 1rem 0 1rem;
    display: grid;
    grid-template-rows: 7rem 10rem 1fr;
    position: relative;
    height: 100%;
    header {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      padding-bottom: 0.75rem;

      div {
        display: grid;
        gap: 0.5rem;
        h2 {
          line-height: 1.75rem;
        }
        span {
          display: inline-flex;
          align-items: center;
          gap: 0.5rem;
        }
      }

      form {
        position: relative;
        padding: 0.75rem 1rem;
        border: 2px solid var(--secondary);
        border-radius: var(--border-radius);
        background-color: var(--tertiary);
        transition: all 0.3s;
        display: inline-flex;
        height: 3.5rem;
        align-items: center;
        width: 100%;
        input {
          width: 100%;
          height: 100%;
          outline: none;
          background-color: transparent;
          border: none;
        }
        &:has(input:focus) {
          box-shadow: var(--shadow-small);
        }
      }
    }

    .safety {
      grid-template-columns: 1fr;
      padding: 1rem;
      row-gap: 1rem;
      background-color: var(--tertiary);
      box-shadow: var(--shadow);
      border-radius: var(--border-radius);
      display: grid;

      .divider {
        display: none;
      }

      div {
        &:first-of-type {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
        span {
          display: grid;
          h3 {
            font-size: var(--font-size-16);
            font-weight: bold;
          }
          p {
            font-size: var(--font-size-12);
            font-weight: bold;
          }
        }

        &:last-of-type {
          display: flex;
          align-items: center;
          gap: 2rem;
        }
        &:first-of-type,
        &:last-of-type {
          place-self: center;
        }
      }
    }
  }

  .add-btn {
    position: fixed;
    bottom: 1rem;
    left: calc(100% - 5.75rem);
    width: 3.25rem;
    height: 3.25rem;
    background-color: var(--accent);
    border-radius: 100vw;
    border: 2px solid var(--secondary);
    --icon-stroke: var(--secondary);
    --icon-fill: var(--secondary);
  }
}

@media (min-width: 768px) {
  :host {
    padding: 2rem 2rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;

    header {
      grid-template-columns: 1fr 1fr;
      padding: 1rem;
    }

    .safety {
      grid-template-columns: 1fr auto 1fr;
      padding: 1rem 3rem;

      div {
        &:first-of-type {
          place-self: start;
        }

        &:last-of-type {
          place-self: end;
        }
        span {
          display: grid;
          color: rgba(0, 0, 0, 0.8);
          font-size: 1rem;
          h3 {
            font-size: 1.25rem;
            font-weight: bold;
          }
          p {
            font-size: 1rem;
            font-weight: 400;
          }
        }
      }
      .divider {
        width: 1px;
        height: 100%;
        display: block;
        background-color: rgba(0, 0, 0, 0.2);
        margin-inline: 1rem;
      }
    }

    .add-btn {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      height: 3.5rem;
      background-color: var(--accent);
      border-radius: 100vw;
      border: 2px solid black;
    }
  }
}
