:host {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;

  form {
    background-color: var(--secondary);

    width: clamp(20rem, 100%, 40rem);
    height: 100%;

    padding: 1rem;

    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 1.75rem;
      font-weight: 700;
      text-align: center;
      color: var(--primary);
    }

    ul {
      display: grid;
      gap: 0.75rem;
      li {
        display: grid;
        label {
          font-weight: bold;
          color: var(--primary);
        }
        input.ng-invalid.ng-touched + span {
          color: #dc3545;
        }
        span {
          padding-left: 0.5rem;
          height: 1.25rem;
        }
      }
    }

    .submit-btn{
      margin-top: auto;
    }

    .divider {
      display: flex;
      padding-block: 0.5rem;
      align-items: center;
      color: var(--primary);
      font-weight: bold;

      &::before,
      &::after {
        content: '';
        flex: 1;
        border-bottom: 2px solid var(--primary);
        margin: 0 0.75rem;
      }
    }

    .social-login {
      display: flex;
      justify-content: center;
      gap: 1rem;
      .social-btn {
        height: 3rem;
        aspect-ratio: 1/1;
        border: 2px solid var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s;
      }
    }

    .toggle-btn {
      text-align: center;
      margin-top: 2rem;
      color: var(--primary);
      color: var(--primary);
      font-weight: bold;
      text-decoration: underline;
    }

    .ng-valid[required],
    .ng-valid.required {
      border-left: 5px solid #42a948; /* green */
    }
  }
}

@media (min-width: 768px) {
  :host {
    background-color: var(--main-gray);
    padding-block: 1rem;

    form {
      border: 1px solid var(--primary);
      box-shadow: var(--shadow);
      padding: 2.5rem;
      height: fit-content;
      &.sign-up {
        width: clamp(20rem, 100%, 58rem);
        ul {
          display: grid;
          grid-template-columns: 1fr 1fr;

          li {
            &:last-of-type {
              grid-column: span 2;
            }
          }
        }
      }

      .social-btn {
        &:hover {
          box-shadow: 4px 4px 0px var(--primary);
          transform: translate(-2px, -2px);
        }
      }
    }
  }
}
