:host {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  --primary: #000000;
  --secondary: #ffffff;
  --accent: #ff5e5b;
  --shadow: 8px 8px 0px var(--primary);
  font-family: 'Courier New', monospace;
  padding: 1rem;
  background-color: rgb(179, 179, 179);

  form {
    background-color: var(--secondary);
    width: 28rem;
    border: 1px solid var(--primary);
    box-shadow: var(--shadow);
    border-radius: 0.75rem;
    padding: 2.5rem 2rem;
    display: grid;
    gap: 1rem;

    @media (max-width: 640px) {
      width: 100%;
      box-shadow: none;
    }

    h2 {
      font-size: 1.75rem;
      font-weight: 700;
      padding-bottom: 1rem;
      text-align: center;
      color: var(--primary);
    }
    ul {
      display: grid;
      gap: 1rem;
      li {
        label {
          font-weight: bold;
          color: var(--primary);
        }
        input {
          width: 100%;
          padding: 0.75rem 1rem;
          border: 2px solid var(--primary);
          background-color: var(--secondary);
          font-size: 1rem;
          outline: none;
          transition: all 0.3s;

          &:focus {
            box-shadow: 4px 4px 0px var(--primary);
          }
        }
      }
    }

    .submit-btn {
      margin-top: 1.5rem;
      width: 100%;
      padding: 0.75rem;
      background-color: var(--accent);
      color: var(--secondary);
      border: 2px solid var(--primary);
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        box-shadow: 4px 4px 0px var(--primary);
        transform: translate(-2px, -2px);
      }
    }

    .divider {
      display: flex;
      padding-block: 0.5rem;
      align-items: center;
      color: var(--primary);
      font-weight: bold;

      &::before,
      &::after {
        content: '';
        flex: 1;
        border-bottom: 2px solid var(--primary);
        margin: 0 0.75rem;
      }
    }

    .social-login {
      display: flex;
      justify-content: center;
      gap: 1rem;
      .social-btn {
        height: 3rem;
        aspect-ratio: 1/1;
        border: 2px solid var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          box-shadow: 4px 4px 0px var(--primary);
          transform: translate(-2px, -2px);
        }
      }
    }

    .toggle-btn {
      text-align: center;
      margin-top: 2rem;
      color: var(--primary);
      color: var(--primary);
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
