:host {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;

  form {
    width: clamp(20rem, 100%, 40rem);
    height: 100%;
    padding: 1rem;

    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: var(--font-size-28);
      font-weight: 700;
      text-align: center;
    }

    ul {
      display: grid;
      gap: 0.75rem;

      li {
        display: grid;
        label {
          font-weight: bold;
        }
        input.ng-invalid.ng-touched + span {
          color: #dc3545;
        }
        span {
          padding-left: 0.5rem;
          height: 1.25rem;
        }
      }
    }

    app-submit-button {
      margin-top: auto;
    }

    .divider {
      display: flex;
      padding-block: 0.5rem;
      align-items: center;
      font-weight: bold;

      &::before,
      &::after {
        content: '';
        flex: 1;
        border-bottom: 2px solid var(--secondary);
        margin: 0 0.75rem;
      }
    }

    .social-login {
      display: flex;
      justify-content: center;
      gap: 1rem;
      .social-btn {
        height: 3rem;
        aspect-ratio: 1/1;
        border: 2px solid var(--secondary);

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
      }
    }

    .toggle-btn {
      text-align: center;
      margin-top: 2rem;
      font-weight: bold;
      text-decoration: underline;
    }

    /*
     * Not sure what this part was for, commenting out for now
  
     .ng-valid[required],
    .ng-valid.required {
      border-left: 5px solid #42a948; 
    } */
  }
}

@media (min-width: 768px) {
  :host {
    form {
      border: 1px solid var(--secondary);
      box-shadow: var(--shadow);
      padding: 2.5rem;
      height: fit-content;
      &.sign-up {
        width: clamp(20rem, 100%, 58rem);

        ul {
          display: grid;
          grid-template-columns: 1fr 1fr;

          li {
            &:last-of-type {
              grid-column: span 2;
            }
          }
        }
      }
    }
  }
}
