:host {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;

  form {
    background-color: var(--secondary);

    width: clamp(20rem, 100%, 40rem);
    height: 100%;

    padding: 1rem;

    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 1.75rem;
      font-weight: 700;
      padding-bottom: 1rem;
      text-align: center;
      color: var(--primary);
    }
    ul {
      display: grid;
      gap: 1rem;
      li {
        label {
          font-weight: bold;
          color: var(--primary);
        }
      }
    }

    .divider {
      display: flex;
      padding-block: 0.5rem;
      align-items: center;
      color: var(--primary);
      font-weight: bold;
      margin-top: auto;

      &::before,
      &::after {
        content: '';
        flex: 1;
        border-bottom: 2px solid var(--primary);
        margin: 0 0.75rem;
      }
    }

    .social-login {
      display: flex;
      justify-content: center;
      gap: 1rem;
      .social-btn {
        height: 3rem;
        aspect-ratio: 1/1;
        border: 2px solid var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s;
      }
    }

    .toggle-btn {
      text-align: center;
      margin-top: 2rem;
      color: var(--primary);
      color: var(--primary);
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

@media (min-width: 768px) {
  :host {
    background-color: var(--main-gray);
    padding-block: 3rem;

    form {
      border: 1px solid var(--primary);
      box-shadow: var(--shadow);
      padding: 2.5rem 5rem;
      height: fit-content;

      .social-btn {
        &:hover {
          box-shadow: 4px 4px 0px var(--primary);
          transform: translate(-2px, -2px);
        }
      }
    }
  }
}
