:host {
  height: 100%;
  display: grid;

  .form-skeleton {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2.25rem;
    justify-self: center;
    width: 100%;
    .text-area {
      height: 8rem;
    }
    .actions {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      margin-top: auto;
    }
  }
}

@media (min-width: 1024px) {
  :host {
    .form-skeleton {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, 3.5rem) 1fr;
      gap: 1.5rem;
      column-gap: 2rem;
      justify-self: center;
      padding-top: 2.5rem;

      .text-area {
        height: 100%;
        grid-area: 1/2/5/-1;
      }
      .actions {
        grid-area: 5/1/-1/-1;
      }
    }
  }
}
