:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;

  form {
    height: 100%;
    width: clamp(20rem, 100%, 78rem);
    display: grid;
    grid-template-rows: 7.625rem 4.5rem 1fr 3.5rem;
    box-shadow: var(--shadow);
    background-color: var(--tertiary);
    padding: 1rem;
    gap: 1rem;

    .password-preview {
      width: 100%;
      display: flex;
      padding: 0.75rem 1rem;
      border-bottom: 2px solid var(--main-gray);
      textarea {
        width: 100%;
        height: fit-content;
        background-color: inherit;
        border: none;
        font-size: var(--font-size-32);
        font-weight: bold;
        outline: none;
        resize: none;
        white-space: pre-wrap;
        word-break: break-all;
        text-align: center;
      }
      .copy-btn {
        height: 2rem;
        width: 2rem;
      }
    }

    .pass-strength {
      font-size: var(--font-size-14);
      display: grid;
      align-content: center;

      span {
        display: flex;
        gap: 0.25rem;
        align-items: center;
        font-size: var(--font-size-16);
        div {
          width: 1rem;
          height: 1rem;
        }
        h3 {
          font-weight: bold;
        }
        &.strength-weak {
          color: red;
          fill: red;
        }
        &.strength-medium {
          color: rgb(180, 117, 0);
          fill: orange;
        }
        &.strength-strong {
          color: blue;
          fill: blue;
        }
        &.strength-very-strong {
          color: green;
          fill: green;
        }
      }

      .text {
        color: var(--secondary-text-color);
      }

      p {
        &:nth-of-type(2) {
          font-weight: bold;
        }
      }
    }

    .actions {
      display: grid;
      grid-template-rows: auto auto 1fr;
      h3 {
        color: var(--main-text-color);
        font-size: var(--font-size-16);
        font-weight: bold;
      }
      p {
        color: var(--secondary-text-color);
        font-size: var(--font-size-14);
      }
      .slider {
        display: inline-flex;
        width: 100%;
        padding-block: 1rem;
        margin-block: 1rem;
        gap: 1rem;
        position: relative;
        align-items: center;
        border-block: 1px solid var(--main-gray);

        input {
          --thumb-height: 1.25em;
          --track-height: 0.125em;
          --track-color: var(--main-gray);
          --brightness-hover: 80%;
          --brightness-down: 60%;
          --clip-edges: 0.125em;

          font-size: 1rem;
          width: 100%;
          color: var(--accent);
          position: relative;
          background: inherit;
          overflow: hidden;

          -webkit-appearance: none;
          appearance: none;
          transition: all ease 100ms;

          height: var(--thumb-height);
          &:active {
            cursor: grabbing;
          }

          &:disabled {
            filter: grayscale(1);
            opacity: 0.3;
            cursor: not-allowed;
          }

          /* === WebKit specific styles === */

          &::-webkit-slider-runnable-track,
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            transition: all ease 100ms;
            height: var(--thumb-height);
          }

          &::-webkit-slider-runnable-track,
          ::-webkit-slider-thumb {
            position: relative;
          }

          &::-webkit-slider-thumb {
            --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
            --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 1px);
            --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
            --clip-further: calc(100% + 1px);
            --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax
              currentColor;

            width: var(--thumb-width, var(--thumb-height));
            background: linear-gradient(currentColor 0 0) scroll no-repeat left center / 50%
              calc(var(--track-height) + 1px);
            background-color: currentColor;
            box-shadow: var(--box-fill);
            border-radius: var(--thumb-width, var(--thumb-height));

            filter: brightness(100%);
            clip-path: polygon(
              100% -1px,
              var(--clip-edges) -1px,
              0 var(--clip-top),
              -100vmax var(--clip-top),
              -100vmax var(--clip-bottom),
              0 var(--clip-bottom),
              var(--clip-edges) 100%,
              var(--clip-further) var(--clip-further)
            );
          }

          &:hover::-webkit-slider-thumb {
            filter: brightness(var(--brightness-hover));
            cursor: grab;
          }
          &:active::-webkit-slider-thumb {
            filter: brightness(var(--brightness-down));
            cursor: grabbing;
          }

          &::-webkit-slider-runnable-track {
            background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center / 100%
              calc(var(--track-height) + 1px);
          }

          &:disabled::-webkit-slider-thumb {
            cursor: not-allowed;
          }

          /* === Firefox specific styles === */
          &::-moz-range-track,
          &::-moz-range-thumb {
            appearance: none;
            transition: all ease 100ms;
            height: var(--thumb-height);
          }

          &::-moz-range-track,
          &::-moz-range-thumb,
          &::-moz-range-progress {
            background: #fff0;
          }
          &::-moz-range-thumb {
            background: currentColor;
            border: 0;
            width: var(--thumb-width, var(--thumb-height));
            border-radius: var(--thumb-width, var(--thumb-height));
            cursor: grab;
          }
          &:active::-moz-range-thumb {
            cursor: grabbing;
          }
          &::-moz-range-track {
            width: 100%;
            background: var(--track-color);
          }
          &::-moz-range-progress {
            appearance: none;
            background: currentColor;
            transition-delay: 30ms;
          }
          &::-moz-range-track,
          &::-moz-range-progress {
            height: calc(var(--track-height) + 1px);
            border-radius: var(--track-height);
          }

          &::-moz-range-thumb,
          &::-moz-range-progress {
            filter: brightness(100%);
          }
          &:hover::-moz-range-thumb,
          &:hover::-moz-range-progress {
            filter: brightness(var(--brightness-hover));
          }

          &:active::-moz-range-thumb,
          &:active::-moz-range-progress {
            filter: brightness(var(--brightness-down));
          }

          &:disabled::-moz-range-thumb {
            cursor: not-allowed;
          }
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        li {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          label {
            font-weight: bold;
          }

          &:hover * {
            cursor: pointer;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .dialog-actions {
      display: flex;
      gap: 2rem;
    }
    .gen-btn {
      margin-top: auto;
    }
  }
}

@media (min-width: 768px) {
  :host {
    padding: 1rem;
    align-items: center;

    form {
      display: flex;
      flex-direction: column;

      .password-preview {
        textarea {
          font-size: 3rem;
        }

        .copy-btn {
          transition: all 0.3s ease-in-out;
          width: 4rem;
          height: 4rem;
          &:hover {
            fill: var(--accent);
          }
        }
      }

      .pass-strength {
        font-size: var(--font-size-24);
        span {
          gap: 0.75rem;
          padding-bottom: 0.5rem;
          align-items: center;
          div {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }

      .actions {
        h3 {
          font-size: var(--font-size-20);
        }
        p {
          color: var(--secondary-text-color);
          font-size: var(--font-size-16);
        }

        .slider {
          gap: 4rem;
          padding-right: 4rem;
          label {
            font-size: var(--font-size-20);
          }
        }
        ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 1rem;

          li {
            label {
              font-size: var(--font-size-20);
            }

            &:hover * {
              cursor: pointer;
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .dialog-actions {
        display: flex;
        gap: 2rem;
      }
    }
  }
}
