<form [formGroup]="passwordGeneratorFormGroup">
  <div class="password-preview">
    <textarea [formControl]="passwordControl"></textarea>
    <button (click)="onCopyToClipboard()" class="copy-btn">
      <app-icon-copy-password
        [style]="{
          width: '100%',
          fill: 'var(--main-text-color)',
        }"
      />
    </button>
  </div>

  <app-password-strength [password]="this.passwordControl.value" />

  <div class="actions">
    <span>
      <h3>CUSTOMIZE YOUR PASSWORD</h3>
      <p>
        Use the slider, and select from the options, below, to lengthen your password and strengthen
        your security.
      </p>
    </span>

    <div class="slider">
      <label>Length:{{ passwordLength }}</label>
      <input class="range" type="range" formControlName="passwordLength" min="1" max="24" />
    </div>

    <ul>
      @for(input of checkboxInputs;track input.formControlName){
      <li>
        <input
          class="checkbox-input"
          type="checkbox"
          [formControlName]="input.formControlName"
          id="{{ input.formControlName }}"
        />
        <label [htmlFor]="input.formControlName"> {{ input.label }} </label>
      </li>
      }
    </ul>
  </div>

  <button
    (click)="onGeneratePassword()"
    class="button-base button-submit hover-active-small gen-btn"
    type="button"
  >
    Re-Generate Password
  </button>

  @if(isDialog){
  <div class="dialog-actions">
    <button
      (click)="onEmitDialogClosed()"
      class="button-base button-submit hover-active-small"
      type="button"
    >
      Cancel
    </button>
    <button
      (click)="onEmitPasswordSelected()"
      class="button-base button-submit hover-active-small"
      type="button"
    >
      Select
    </button>
  </div>
  }
</form>
