<form [formGroup]="passwordGeneratorFormGroup">
  <div class="password-preview">
    <textarea [formControl]="passwordControl"></textarea>
    <button (click)="onCopyToClipboard()" class="copy-btn">
      <app-icon-copy-password
        [style]="{
          width: '100%',
        }"
      />
    </button>
  </div>

  <div class="pass-strength">
    <span [ngClass]="strengthClass">
      <div>
        @switch (passwordStrength) { @case ('weak') {
        <app-icon-error
          [style]="{
            width: '100%',
            height: '100%'
          }"
        />
        } @case ('medium') {
        <app-icon-warn
          [style]="{
            width: '100%',
            height: '100%'
          }"
        />
        } @case ('strong') {
        <app-icon-check
          [style]="{
            width: '100%',
            height: '100%'
          }"
        />
        } @case ('veryStrong') {
        <app-icon-shield
          [style]="{
            width: '100%',
            height: '100%'
          }"
        />
        } }
      </div>
      <h3>Strength:</h3>
      <p>
        {{ passwordStrength }}
      </p>
    </span>

    <p class="text">Time needed to crack the password</p>
    <p>{{ timeToCrack }}</p>
  </div>

  <div class="actions">
    <span>
      <h3>CUSTOMIZE YOUR PASSWORD</h3>
      <p>
        Use the slider, and select from the options, below, to lengthen your password and strengthen
        your security.
      </p>
    </span>

    <div class="slider">
      <label>Length:{{ passwordGeneratorFormGroup.get('passwordLength')?.value }}</label>
      <input class="range" type="range" formControlName="passwordLength" min="1" max="24" />
    </div>

    <ul>
      @for(input of checkboxInputs;track input.formControlName){
      <li>
        <input
          class="checkbox-input"
          type="checkbox"
          [formControlName]="input.formControlName"
          id="{{ input.formControlName }}"
        />
        <label [htmlFor]="input.formControlName"> {{ input.label }} </label>
      </li>
      }
    </ul>
  </div>

  <button (click)="onGeneratePassword()" class="submit-btn gen-btn" type="button">
    Re-Generate Password
  </button>

  @if(isDialog){
  <div class="dialog-actions">
    <button (click)="onEmitDialogClosed()" class="submit-btn" type="button">Cancel</button>
    <button (click)="onEmitPasswordSelected()" class="submit-btn" type="button">Select</button>
  </div>
  }
</form>
