<span class="website-url">
  <h6>Website URL:</h6>
  <p class="truncate">
    {{ passwordEntryEvaluated.passwordEntry.websiteUrl }}
  </p>
  @if(passwordEntryEvaluated.passwordEntry.websiteUrl){

  <app-external-link [link]="passwordEntryEvaluated.passwordEntry.websiteUrl" />
  }
</span>
<span class="entry-username">
  <h6>Username:</h6>
  <p class="truncate">
    {{ passwordEntryEvaluated.passwordEntry.entryUserName }}
  </p>
</span>

<span class="strength">
  <h6>Password Strength:</h6>
  <p [ngClass]="passwordEntryEvaluated.strength | strengthClassPipe">
    {{ passwordEntryEvaluated.strength | extendedTitleCasePipe }}
  </p>
</span>
<span class="last-changed">
  <h6>Last Changed:</h6>
  <p [ngClass]="passwordEntryEvaluated.lastChangeStrength | strengthClassPipe">
    {{ passwordEntryEvaluated.lastChange | timeAgoPipe }}
  </p>
</span>
<span class="duplicated">
  <h6>Duplications:</h6>
  <p>
    {{ passwordEntryEvaluated.duplicated }}
  </p>
</span>
<app-show-password
  [iv]="passwordEntryEvaluated.passwordEntry.iv"
  [encryptedPassword]="passwordEntryEvaluated.passwordEntry.encryptedPassword"
>
</app-show-password>
<nav>
  <button
    class="hover-active-small button-base button-normal"
    (click)="onNavigate('edit', passwordEntryEvaluated.passwordEntry.id)"
  >
    Edit
  </button>
  <button
    class="hover-active-small button-base button-normal"
    (click)="onNavigate('details', passwordEntryEvaluated.passwordEntry.id)"
  >
    Details
  </button>
</nav>
