:host {
  padding: 0.5rem;
  display: grid;
  background-color: var(--accent);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  gap: 0.5rem;

  h6,
  p {
    font-size: var(--font-size-18);
  }

  span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  app-external-link {
    width: 1.5rem;
    aspect-ratio: 1/1;
    margin-left: auto;
  }
}
