<div>
  <ul class="table-header">
    <li>Website URL</li>
    <li>Password</li>
    <li>Password Strength</li>
    <li>Last Changed</li>
    <li>Duplicated</li>
  </ul>

  <ul class="table">
    @for( passwordEntryEvaluated of passwordEntriesEvaluated; track
    passwordEntryEvaluated.passwordEntry.id ){
    <li class="">
      <app-password-entry-evaluated-preview 
        [passwordEntryEvaluated]="passwordEntryEvaluated"
        (navigateToPasswordEntryEvent)="onNavigate($event)" />
    </li>
    }
  </ul>
</div>
