:host {
  .table-header {
    display: none;
  }

  .table {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    border-top: 1px solid var(--main-gray);
  }
}
