<div
  (mouseenter)="stopCountDown()"
  (mouseleave)="countDown()"
  class="toast_wrapper"
  [ngClass]="isOpenClass"
>
  <div class="inner_wrapper">
    @if(data){

    <div class="flex">
      <div class="toast_content">
        <h5 class="toast_title">
          {{ data.title }}
        </h5>
        <div class="toast_text">
          {{ data.content }}
        </div>
      </div>
    </div>
    }
  </div>

  <div class="progress_bar" [ngClass]="{ success: data && data.type === 1 }" #element></div>
</div>
