:host {
  width: 100%;
  button {
    overflow: hidden;
    span {
      display: inline-block;
      white-space: pre;
    }
    &:disabled {
      cursor: not-allowed;
    }
    &.loading {
      animation: shadow-rotate 1s linear infinite;

      span {
        animation: moveLetters 3.4s infinite ease-in-out;
        animation-delay: calc(var(--i) * 0.1s);
        transform: translatex(0);
        position: relative;
        opacity: 0;
        text-shadow: 0px 2px 10px rgba(46, 74, 81, 0.3);
      }
    }
  }
}

@keyframes shadow-rotate {
  0% {
    box-shadow: 4px 4px 0 var(--secondary);
  }
  12.5% {
    box-shadow: 4px 0 0 var(--secondary);
  }
  25% {
    box-shadow: 4px -4px 0 var(--secondary);
  }
  37.5% {
    box-shadow: 0 -4px 0 var(--secondary);
  }
  50% {
    box-shadow: -4px -4px 0 var(--secondary);
  }
  62.5% {
    box-shadow: -4px 0 0 var(--secondary);
  }
  75% {
    box-shadow: -4px 4px 0 var(--secondary);
  }
  87.5% {
    box-shadow: 0 4px 0 var(--secondary);
  }
  100% {
    box-shadow: 4px 4px 0 var(--secondary);
  }
}

@keyframes moveLetters {
  0% {
    transform: translateX(-15vw);
    opacity: 0;
  }

  33.3%,
  66% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(15vw);
    opacity: 0;
  }
}
