:host {
  display: contents;
  width: 2rem;
  height: 2rem;

  dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 100%;
    padding: 1rem;
    max-width: 50rem;
    &::backdrop {
      background: rgba(0, 0, 0, 0.5);
    }
  }
}
