.dialog {
  margin-inline: .5rem 1rem;
  form {
    display: grid;
    padding: 1rem;
    gap: 1rem;

    .password {
      display: grid;
      grid-template-columns: 1fr 2rem;
      gap: 0.5rem;
      padding: 0;
      padding-right: 1rem;
      align-items: center;

      input {
        outline: none;
        border: none;
        background-color: inherit;
        color: inherit;
        width: 100%;
        height: 100%;
        padding-left: 1rem;
      }

      button {
        width: 2rem;
        height: 2rem;
      }
      /* TODO: Maybe change to JS or look for a different solution */
      &:has(input:focus) {
        box-shadow: var(--shadow-small);
      }
    }
    .actions {
      display: flex;
      gap: 1rem;
      justify-content: flex-end;
    }

    a {
      color: var(--secondary-text-color);
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
