<div class="overlay" (click)="cancel()">
  <div class="dialog" (click)="$event.stopPropagation()">
    <h2>{{ title }}</h2>

    <p>{{ description }}</p>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="input-box password">
        <input
          type="password"
          formControlName="masterPassword"
          placeholder="Master Password"
          autofocus
          #passwordInput
        />
        <button type="button" [appRevealPassword]="passwordInput">
          <app-icon-eye
            [style]="{
              width: '2rem',
              height: '2rem',
              stroke: 'var(--secondary)',
              fill: 'none'
            }"
          />
        </button>
      </div>
      <div class="actions">
        <button
          type="button"
          class="button-base button-normal hover-active-small"
          (click)="cancel()"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="button-base button-normal hover-active-small"
          [disabled]="form.invalid"
        >
          {{ submitLabel }}
        </button>
      </div>

      @if (showRecoveryLink) {
      <a (click)="navigateToRecovery()">Forgot Master Password?</a>
      }
    </form>
  </div>
</div>
