<div class="overlay" (click)="cancel()">
  <div class="dialog" (click)="$event.stopPropagation()">
    <h2>{{ title }}</h2>

    <p>{{ description }}</p>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <input
        type="password"
        formControlName="masterPassword"
        placeholder="Master Password"
        autofocus
        class="input-box"
      />
      <div class="actions">
        <button type="button" (click)="cancel()">Cancel</button>
        <button type="submit" [disabled]="form.invalid">
          {{ submitLabel }}
        </button>
      </div>

      @if (showRecoveryLink) {
      <a (click)="navigateToRecovery()">Forgot Master Password?</a>
      }
    </form>
  </div>
</div>
