svg {
  width: var(--icon-width, 1.5rem);
  height: var(--icon-height, 1.5rem);
  stroke: var(--icon-stroke, currentColor);
  fill: var(--icon-fill, currentColor);
  min-width: var(--icon-minWidth, unset);
  display: block;
}
