.submit-btn {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--accent);
  color: var(--secondary);
  border: 2px solid var(--secondary);
  font-size: var(--font-size-16);
  height: 3.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    box-shadow: var(--shadow-small);
    transform: translate(-2px, -2px);
  }
}

.button-box {
  background-color: var(--accent);

  border: 2px solid var(--secondary);
  color: var(--secondary);
  font-weight: bold;
  padding: 0.5rem;
  width: fit-content;
  font-size: var(--font-size-16);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    box-shadow: var(--shadow-small);
    transform: translate(-2px, -2px);
  }
}
