.hover-active-small {
  @media (hover: hover) {
    &:hover {
      box-shadow: var(--shadow-small);
      transform: translate(-2px, -2px);
    }
  }

  &:active {
    box-shadow: var(--shadow-small);
    transform: translate(-2px, -2px);
  }
}

.button-base {
  border: 2px solid var(--secondary);
  background-color: var(--accent);
  font-size: var(--font-size-16);
  font-weight: bold;
  transition: all 0.3s;
}

.button-submit {
  width: 100%;
  height: 3.5rem;
}

.button-normal {
  padding: 0.5rem;
  width: fit-content;
}
