.hover-active-small {
  transition: box-shadow 0.3s, transform 0.3s;
  @media (hover: hover) {
    &:hover {
      box-shadow: var(--shadow-small);
      transform: translate(-2px, -2px);
    }
  }

  &:active {
    box-shadow: var(--shadow-small);
    transform: translate(-2px, -2px);
  }
}

.hover-active-large {
  transition: box-shadow 0.3s, transform 0.3s;
  @media (hover: hover) {
    &:hover {
      box-shadow: var(--shadow);
      transform: translate(-4px, -4px);
    }
  }

  &:active {
    box-shadow: var(--shadow);
    transform: translate(-4px, -4px);
  }
}

.shimmer {
  background: linear-gradient(
    90deg,
    var(--shimmer-base) 30%,
    var(--shimmer-highlight) 50%,
    var(--shimmer-base) 70%
  );
  background-size: 400%;
  animation: shimmer 1.5s infinite linear;
}
@keyframes shimmer {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}
