.checkbox-input {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--tertiary);
  margin: 0;
  font: inherit;
  color: var(--main-text-color);
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--main-text-color);
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;

  &::before {
    content: '';
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--accent);
  }

  &:checked::before {
    transform: scale(1);
  }

  &:disabled {
    --form-control-color: var(--form-control-disabled);
    color: var(--form-control-disabled);
    cursor: not-allowed;
  }
}

.input-box {
  width: 100%;
  height: 3.5rem;
  padding: 0.75rem 1rem;
  border: 2px solid var(--secondary);
  background-color: var(--tertiary);
  font-size: var(--font-size-16);
  outline: none;
  transition: all 0.3s;
  color: var(--main-text-color);

  &:focus {
    box-shadow: var(--shadow-small);
  }
}
