.strength-weak {
  color: var(--error-red);
  fill: var(--error-red);
}
.strength-medium {
  color: var(--warn-orange);
  fill: var(--warn-orange);
}
.strength-strong {
  color: var(--info-blue);
  fill: var(--info-blue);
}
.strength-veryStrong {
  color: var(--success-green);
  fill: var(--success-green);
}
