:host {
  section {
    padding: 1rem 1rem 4rem 1rem;
    display: grid;
    gap: 1rem;
    grid-template-rows: 7rem 11rem 1fr;
    position: relative;
    overflow-y: auto;
    height: 100%;

    header {
      display: grid;
      flex-direction: column;
      gap: 1rem;

      .number-of-items-text {
        background-color: var(--tertiary);
        height: 1.5rem;
        width: 70%;
        border-radius: var(--border-radius);
      }

      .form-skeleton {
        height: 4.375rem;
        border: 2px solid var(--secondary);
        border-radius: var(--border-radius);
        background-color: var(--tertiary);
      }
      .add-btn {
        position: fixed;
        bottom: 1rem;
        left: calc(100% - 4rem);
        width: 3rem;
        height: 3rem;
        z-index: 1;
        background-color: var(--tertiary);
        border-radius: 100vw;
        border: 2px solid var(--secondary);
      }
    }

    .safety {
      grid-template-columns: 1fr;
      padding: 1rem;
      row-gap: 1rem;
      background-color: var(--tertiary);
      box-shadow: var(--shadow);
      border-radius: var(--border-radius);
      display: grid;

      .divider {
        display: none;
      }

      .safety-left {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        .icon {
          height: 3rem;
          width: 3rem;
          padding-block: 0.25rem;
          border-radius: var(--border-radius);
        }
      }

      .safety-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        .button {
          height: 4rem;
          width: 5rem;
          border-radius: var(--border-radius);
        }
      }

      .text {
        width: 60%;
        display: grid;
        gap: 0.5rem;
        grid-template-rows: 1rem 1.5rem;
        span {
          height: 100%;
          border-radius: var(--border-radius);
        }
      }
    }

    .table-skeleton {
      .table-header {
        display: none;
      }

      .table-list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-block: 1rem;
        li {
          display: grid;
          grid-template-columns: 1.5rem 1fr 1.5rem 1.5rem;
          grid-template-rows: 1fr 1fr;
          height: 5rem;
          text-align: left;
          padding: 1rem;
          gap: 0.5rem 1rem;
          align-items: center;
          border-radius: var(--border-radius);

          background-color: var(--tertiary);

          div {
            width: 100%;
            height: 100%;
            border-radius: var(--border-radius);
          }
          .favorite-icon {
            height: 1.5rem;
            width: 1.5rem;
            grid-area: 1/1/3/2;
          }
          .entry-name {
            grid-area: 1/2/2/3;
            font-weight: 900;
          }
          .website-url {
            display: none;
          }
          .entry-username {
            grid-area: 2/2/3/3;
          }
          .password-mobile {
            grid-area: 1/3/3/4;
            height: 1.5rem;
            width: 1.5rem;
          }
          .actions-mobile-button {
            height: 1.5rem;
            width: 1.5rem;
            grid-area: 1/4/3/-1;
          }
        }
      }
    }
  }
}

@media (min-width: 910px) {
  :host {
    section {
      padding: 0.5rem 0 0 0;
      gap: 2rem;
      display: grid;
      grid-template-rows: 5.75rem 5.5rem 1fr;
      --margin-inline: 1rem;

      header {
        gap: 0.5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        margin-inline: var(--margin-inline);
        align-items: center;
        .number-of-items-text {
          grid-column: 1/-1;
          width: 40%;
        }
        .form-skeleton {
          height: 100%;
        }
        .add-btn {
          position: relative;
          bottom: 0;
        }
      }

      .safety {
        align-items: center;
        align-content: center;
        grid-template-columns: 1fr auto 1fr;
        margin-inline: var(--margin-inline);

        .safety-left {
          place-self: start;
          height: 100%;
          width: 100%;
          .icon {
            height: 100%;
            width: 3rem;
            padding-block: 0.25rem;
            border-radius: var(--border-radius);
          }
        }

        .safety-right {
          height: 100%;
          width: 100%;
          place-self: end;
          justify-content: flex-end;
        }

        .text {
          height: 100%;
          grid-template-rows: 1fr 1fr;
        }
        .divider {
          width: 1px;
          height: 100%;
          display: block;
          background-color: var(--secondary);
          margin-inline: 1rem;
        }
      }

      .table-skeleton {
        .table-header {
          width: 100%;
          display: grid;
          grid-template-columns: 2rem 1fr 1fr 1fr 1fr 1fr;
          height: 3rem;
          border-bottom: 1px solid var(--secondary);
          gap: 0.5rem;
          align-items: center;
          padding: 0.5rem 2rem;
          font-size: var(--font-size-18);
          li {
            width: 100%;
            height: 100%;
            border-radius: var(--border-radius);
          }
        }

        .table-list {
          height: calc(100% - 3rem);
          padding-inline: 1rem;

          li {
            width: 100%;
            height: 100%;
            grid-template-columns: 2rem 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 0.5rem;
            height: 4.75rem;

            &::after {
              display: none;
            }

            div {
              display: block !important;
              grid-area: auto !important;
              height: 100% !important;
              width: 100% !important;
            }
          }
        }
      }
    }
  }
}
