<section>
  <header>
    <div class="number-of-items-text shimmer"></div>

    <div class="form-skeleton shimmer"></div>
  </header>

  <div class="safety shimmer">
    <div class="safety-left">
      <div class="icon shimmer"></div>
      <div class="text">
        <span class="shimmer"></span>
        <span class="shimmer"></span>
      </div>
    </div>

    <span class="divider"></span>

    <div class="safety-right">
      <div class="text">
        <span class="shimmer"></span>
        <span class="shimmer"></span>
      </div>
      <div class="button shimmer"></div>
    </div>
  </div>
  <div class="table-skeleton">
    <ul class="table-header">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ul class="table-list">
      <li>
        <div class="favorite-icon shimmer"></div>
        <div class="entry-name shimmer"></div>
        <div class="website-url shimmer"></div>
        <div class="entry-username shimmer"></div>
        <div class="password-mobile shimmer"></div>
        <div class="actions-mobile-button shimmer"></div>
      </li>
      <li>
        <div class="favorite-icon shimmer"></div>
        <div class="entry-name shimmer"></div>
        <div class="website-url shimmer"></div>
        <div class="entry-username shimmer"></div>
        <div class="password-mobile shimmer"></div>
        <div class="actions-mobile-button shimmer"></div>
      </li>
      <li>
        <div class="favorite-icon shimmer"></div>
        <div class="entry-name shimmer"></div>
        <div class="website-url shimmer"></div>
        <div class="entry-username shimmer"></div>
        <div class="password-mobile shimmer"></div>
        <div class="actions-mobile-button shimmer"></div>
      </li>
      <li>
        <div class="favorite-icon shimmer"></div>
        <div class="entry-name shimmer"></div>
        <div class="website-url shimmer"></div>
        <div class="entry-username shimmer"></div>
        <div class="password-mobile shimmer"></div>
        <div class="actions-mobile-button shimmer"></div>
      </li>
      <li>
        <div class="favorite-icon shimmer"></div>
        <div class="entry-name shimmer"></div>
        <div class="website-url shimmer"></div>
        <div class="entry-username shimmer"></div>
        <div class="password-mobile shimmer"></div>
        <div class="actions-mobile-button shimmer"></div>
      </li>
      <li>
        <div class="favorite-icon shimmer"></div>
        <div class="entry-name shimmer"></div>
        <div class="website-url shimmer"></div>
        <div class="entry-username shimmer"></div>
        <div class="password-mobile shimmer"></div>
        <div class="actions-mobile-button shimmer"></div>
      </li>
      <li>
        <div class="favorite-icon shimmer"></div>
        <div class="entry-name shimmer"></div>
        <div class="website-url shimmer"></div>
        <div class="entry-username shimmer"></div>
        <div class="password-mobile shimmer"></div>
        <div class="actions-mobile-button shimmer"></div>
      </li>
      <li>
        <div class="favorite-icon shimmer"></div>
        <div class="entry-name shimmer"></div>
        <div class="website-url shimmer"></div>
        <div class="entry-username shimmer"></div>
        <div class="password-mobile shimmer"></div>
        <div class="actions-mobile-button shimmer"></div>
      </li>
    </ul>
  </div>

  <div class="add-btn shimmer"></div>
</section>
