.loader {
  height: 100%;
  display: grid;
  justify-items: center;
  --border: 2px solid var(--secondary);
  .square {
    width: 2rem;
    aspect-ratio: 1.45/1;
    display: block;
    position: relative;
    border: var(--border);
    border-radius: 8px;
    &::after {
      content: '';
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      width: 0.25rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: var(--secondary);
      box-shadow: 0.5rem 0 var(--secondary), -0.5rem 0 var(--secondary);
      animation: flash 0.5s ease-out infinite alternate;
    }
  }
  .arc {
    border: var(--border);
    border-bottom: none;
    width: 1rem;
    height: 0.875rem;
    border-radius: 50% 50% 0 0;
    /* left: 50%;
    top: 0;
    transform: translate(-50%, -100%); */
  }
}

@keyframes flash {
  0% {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0.5rem 0 rgba(255, 255, 255, 0.25), -0.5rem 0 var(--secondary);
  }
  50% {
    background-color: var(--secondary);
    box-shadow: 0.5rem 0 rgba(255, 255, 255, 0.25), -0.5rem 0 rgba(255, 255, 255, 0.25);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0.5rem 0 var(--secondary), -0.5rem 0 rgba(255, 255, 255, 0.25);
  }
}
