:host {
  grid-area: 1/4/3/-1;
  display: flex;
  position: relative;

  .actions {
    display: none;
  }

  .modal {
    position: absolute;
    top: 100%;
    right: calc(100%);
    display: grid;
    padding: 0.75rem;
    gap: 0.5rem;
    background-color: var(--menu);
    box-shadow: var(--shadow-small);
    border-radius: var(--border-radius);
    z-index: 100;
    a,
    button {
      width: 100%;
      text-align: start;
    }
  }
}

@media (min-width: 1024px) {
  :host {
    grid-area: auto;
    justify-content: end;
    .actions {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      .button-delete {
        padding: 0;
        height: 100%;
        aspect-ratio: 1/1;
      }
    }

    .actions-mobile-button {
      display: none;
    }
  }
}
