:host {
  grid-area: 1/4/3/-1;
  display: flex;
  position: relative;
}

.actions {
  display: none;
}

.modal {
  position: absolute;
  top: 100%;
  right: calc(100%);
  display: grid;
  padding: .75rem;
  gap: 0.5rem;
  background-color: var(--secondary);
  box-shadow: var(--shadow-small);
  z-index: 100;
  a,
  button {
    width: 100%;
    text-align: start;
  }
  
}

@media (min-width: 768px) {
  :host {
    grid-area: auto;
    justify-content: end;
  }
  .actions {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    .delete-btn {
      background-color: var(--accent);
      height: 2.75rem;
      width: 2rem;
      background-color: var(--accent);
      border: 2px solid var(--primary);
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        box-shadow: 4px 4px 0px var(--primary);
        transform: translate(-2px, -2px);
      }
    }
  }

  .actions-mobile-button {
    display: none;
  }
}
