<button class="actions-mobile-button" (click)="toggleModal()">
  <app-icon-dots
    [style]="{
      width: '1.5rem',
      height: '1.5rem',
      stroke: 'none',
      fill: 'var(--accent)',
    }"
  />
</button>

@if(isOpen){

<div class="modal" modal (clickOutside)="onClickOutside()">
  <a class="button-box" routerLink="edit/{{ entryId }}">Edit </a>
  <a class="button-box" routerLink="details/{{ entryId }}">Details </a>
  <button class="button-box" (click)="onDelete()">Delete</button>
</div>

}
<div class="actions">
  <button class="delete-btn" (click)="onDelete()">
    <app-icon-trash
      [style]="{
          width: '2rem',
          height: '2rem',
          stroke: 'var(--secondary)',
          fill: 'none',
                }"
    />
  </button>
  <a class="button-box" routerLink="edit/{{ entryId }}">Edit </a>
  <a class="button-box" routerLink="details/{{ entryId }}">Details </a>
</div>
