<button class="actions-mobile-button" (click)="toggleModal()">
  <app-icon-dots
    [style]="{
      width: '1.5rem',
      height: '1.5rem',
      stroke: 'none',
      fill: 'var(--accent)',
    }"
  />
</button>

@if(isOpen){

<div class="modal" menu (clickOutside)="onClickOutside()">
  <a class="hover-active-small button-base button-normal" routerLink="edit/{{ entryId }}">Edit </a>
  <a class="hover-active-small button-base button-normal" routerLink="details/{{ entryId }}"
    >Details
  </a>
  <button class="hover-active-small button-base button-normal" (click)="onDelete()">Delete</button>
</div>

}
<div class="actions">
  <button class="hover-active-small button-base button-normal" (click)="onDelete()">
    <app-icon-trash
      [style]="{
          width: '1.5rem',
          height: '1.5rem',
          stroke: 'var(--secondary)',
          fill: 'none',
                }"
    />
  </button>
  <a class="hover-active-small button-base button-normal" routerLink="edit/{{ entryId }}">Edit </a>
  <a class="hover-active-small button-base button-normal" routerLink="details/{{ entryId }}"
    >Details
  </a>
</div>
