:host {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  height: 100%;
  padding: 1rem;

  header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

@media (min-width: 768px) {
  :host {
    padding: 2rem 1rem;
    header {
      height: 4rem;
    }
  }
}
