:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  div {
    height: 100%;
    padding: 0rem 1rem 1rem 0.5rem;
  }
}

@media (min-width: 768px) {
  :host {
    padding: 2rem 1rem;
    header {
      height: 4rem;
    }
  }
}
