:host {
  height: 100vh;
  display: grid;
  grid-template-rows: 4rem 1fr;

  header {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid var(--main-gray);
    padding: 1rem 1rem 0.5rem 1rem;
    margin-bottom: calc(0.5rem - 1px);
    height: 4rem;
    div {
      &:first-of-type {
        border: 1px solid var(--main-text-color);
        border-radius: 100vh;
        height: 2rem;
        width: 2rem;
      }
      &:last-of-type {
        width: 50%;
        height: 2rem;
        border-radius: var(--border-radius);
      }
    }
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    .info-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 3.875rem;

      &.password {
        height: 2.8;
      }
    }

    .password-streangth-skeleton {
      height: 5.75rem;
    }

    .textarea-notes {
      height: 6.875rem;
      align-items: start;
    }

    .dates {
      height: 3.25rem;
      position: relative;
      div {
        position: absolute;
        width: calc(100% + 2rem);
        height: 100%;
        left: -1rem;
      }
    }

    .actions {
      margin-top: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4rem;
    }
  }
}

@media (min-width: 768px) {
  :host {
    .border-bottom,
    .border-top {
      border-color: var(--main-gray);
    }
  }
}

.border-bottom {
  border-bottom: 1px solid var(--secondary);
  padding-bottom: 1rem;
}
.border-top {
  border-top: 1px solid var(--secondary);
  padding-top: 1rem;
}

