<div class="overlay" (click)="cancel()">
  <div class="dialog" (click)="$event.stopPropagation()">
    <h2>Your Recovery Key</h2>
    <p>Please store this recovery key securely.</p>
    <div class="copy-con">
      <p>{{ recoveryStr }}</p>
    </div>
    <div class="actions">
      <button type="button" class="hover-active-small button-base button-normal" (click)="submit()">
        Close
      </button>
      <button
        type="button"
        class="hover-active-small button-base button-normal"
        (click)="onCopyRecoveryToClipboard()"
      >
        Copy
      </button>
      <button
        type="button"
        class="hover-active-small button-base button-normal"
        (click)="onDownloadRecovery()"
      >
        Print
      </button>
    </div>
  </div>
</div>
