:host {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--primary);
  color: var(--main-text-color);
  main{
    overflow-y: auto;
    position: relative;
  }
}

@media (min-width: 768px) {
  :host {
    display: grid;
    grid-template-columns: auto 1fr;

  }
}
