<header>
  <div class="heading">
    <h3>Password Safety Dashboard</h3>
    <button (click)="cancel()" class=""><app-icon-close-open /></button>
  </div>

  <div class="score">
    <h4>Score</h4>
    <p>{{ score$ | async }}</p>
    <p>{{ getScoreValueText() }}</p>
  </div>

  <div class="overview">
    <h4>Password Overview</h4>
    <ul>
      @for(option of passwordSaftyDashboard$ |async;track option.label){
      <li>
        <p class="flex-center">{{ option.value }}</p>
        <h5>{{ option.label }}</h5>
      </li>
      }
    </ul>
  </div>
</header>

<app-password-entry-evaluated-table
  [passwordEntriesEvaluated]="passwordEntriesEvaluated$ | async"
  (navigateToPasswordEntryEvent)="emitNavigate($event.path, $event.passwordEntryId)"
/>
