:host {
  width: 100%;
  padding-top: 1rem;
  height: 100%;

  ul {
    height: 10rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-block: 1rem;
  }
  .table-header {
    display: none;
  }

  .table-list {
    height: 100%;
    overflow-y: auto;
  }
}

@media (min-width: 768px) {
  :host {
    overflow: hidden;
    padding-bottom: 2rem;
    .table-header {
      width: 100%;
      display: grid;
      grid-template-columns: 2rem 1fr 1fr 1fr 1fr 1fr;
      height: 3rem;
      border-bottom: 1px solid var(--secondary);
      gap: 0.5rem;
      align-items: center;
      padding: 0.5rem 0;
      font-size: var(--font-size-18);
    }
    .table-list {
      height: calc(100% - 3rem);
      padding-inline: 1rem;
      overflow-y: auto;
      display: grid;
      grid-template-rows: repeat(auto-fill, 3rem);
    }
  }
}
