div {
  width: 100%;

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-block: 1rem;
    height: 100%;
    overflow-y: scroll;
  }
  .table-header {
    display: none;
  }
}

@media (min-width: 768px) {
  div {
    .table-header {
      display: grid;
      grid-template-columns: 1.5rem 1fr 1.5fr 1fr 1fr 1fr;
      text-align: left;
    }
  }
}
