  table {
    width: 100%;
    thead {
      tr {
        display: grid;
        grid-template-columns: 1.5rem 1fr 1.5fr 1fr 1fr 1fr;
        text-align: left;
        gap: 0.5rem;
      }
    }
    
  }