:host {
  width: 100%;
  padding-top: 1rem;
  height: 100%;

  ul {
    height: 10rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-block: 1rem;
  }
  .table-header {
    display: none;
  }

  .table-list {
    height: 100%;
    overflow-y: auto;
  }
}

@media (min-width: 768px) {
  :host {
    .table-header {
      display: grid;
      grid-template-columns: 2rem 1fr 1.5fr 1fr 1fr 1fr;
      text-align: left;
      height: fit-content;
      border-bottom: 1px solid var(--primary);
      grid-template-rows: 1fr;
      gap: 0.5rem;
      align-items: center;
      padding: 0.5rem 0;
      font-size: 1.25rem;
    }
  }
}
