:host {
  .table-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-block: 1rem;
  }
  .table-header {
    display: none;
  }
}

@media (min-width: 768px) {
  :host {
    .table-header {
      width: 100%;
      display: grid;
      grid-template-columns: 2rem 1fr 1fr 1fr 1fr 1fr;
      height: 3rem;
      border-bottom: 1px solid var(--secondary);
      gap: 0.5rem;
      align-items: center;
      padding: 0.5rem 0;
      font-size: var(--font-size-18);
    }
    .table-list {
      height: calc(100% - 3rem);
      padding-inline: 1rem;
    }
  }
}
